.inf-tag {
  height: 24px;
  font: var(--inf-font-body-1);
  line-height: 21px;
  color: var(--inf-color-text-primary);
  background-color: var(--inf-color-background-tertiary);
  border-radius: var(--inf-border-radius-small);
  padding: 6px var(--inf-space-xsmall);
  display: inline-flex;
  align-items: center;
  gap: var(--inf-space-xsmall);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &--disabled {
    color: var(--inf-color-text-tertiary);

    .inf-tag__remove-button {
      color: var(--inf-color-icon-primary-disabled);
    }
  }

  &--hoverable {
    cursor: pointer;
    transition: 0.2s;

    @include hover {
      background-color: var(--inf-color-background-tertiary-hover);
    }
  }

  &--selected {
    background-color: var(--inf-color-background-inverse);
    color: var(--inf-color-text-inverse);
  }

  &__icon {
    display: inline-flex;
    color: var(--inf-color-icon-primary);
    padding: var(--inf-space-xxsmall);
    margin: calc(var(--inf-space-xsmall) * -1);

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__remove-button {
    display: flex;
    color: var(--inf-color-icon-primary);
    cursor: pointer;
    padding: var(--inf-space-xxsmall);
    margin: calc(var(--inf-space-xsmall) * -1);
    margin-left: calc(var(--inf-space-xxsmall) * -1);
    transition: color 0.2s;

    &:disabled {
      pointer-events: none;
    }

    @include hover {
      color: var(--inf-color-icon-primary-hover);
      background-color: var(--inf-color-background-tertiary-hover);
      border-radius: var(--inf-border-radius-small);
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }
}
