.inf-pagination {
  display: flex;
  align-items: center;
  gap: var(--inf-space-xxsmall);

  &__button {
    @include button-reset;
    height: var(--inf-control-height-small);
    border-radius: var(--inf-border-radius-small);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--inf-color-text-info);
    font-size: var(--inf-font-size-body-1);
    font-weight: var(--inf-font-weight-bold);
    padding: var(--inf-space-small);
    transition: 0.2s;
    min-width: var(--inf-control-height-small);

    @include hover-active {
      &:not(.inf-pagination__button--active) {
        background-color: var(--inf-color-background-button-secondary-hover);
      }
    }

    &--active {
      color: var(--inf-color-icon-info-disabled);
    }

    &--square {
      width: var(--inf-control-height-small);
    }

    svg {
      flex-shrink: 0;
    }
  }

  &__dropdown {
    min-width: 70px !important;
  }

  &__dropdown-item {
    padding: var(--inf-space-xsmall) var(--inf-space-small) !important;

    &--active {
      color: var(--inf-color-icon-info-disabled) !important;
    }
  }
}
