.inf-pagination {
  display: flex;
  align-items: center;
  gap: var(--inf-space-xsmall);

  &__button {
    @include button-reset;
    height: var(--inf-control-height-small);
    // background-color: var(--inf-color-background-primary);
    border: 1px solid var(--inf-color-border-primary);
    border-radius: var(--inf-border-radius-small);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--inf-color-text-primary);
    font-size: var(--inf-font-size-body-1);
    font-weight: var(--inf-font-weight-bold);
    padding: var(--inf-space-small);
    transition: 0.2s;

    @include hover-active {
      &:not(.inf-pagination__button--active) {
        background-color: var(--inf-color-background-button-secondary-hover);
      }
    }

    &--active {
      background-color: var(--inf-color-background-button-secondary-active);
    }

    &--square {
      width: var(--inf-control-height-small);
    }

    svg {
      flex-shrink: 0;
    }
  }

  &__text {
    color: var(--inf-color-text-secondary);
    font: var(--inf-font-body-1);
  }
}
