.inf-page-layout-header {
  z-index: var(--inf-z-index-header);
  min-height: var(--inf-height-header);
  height: var(--inf-height-header);
  background-color: var(--inf-color-background-primary);
  border-bottom: 1px solid var(--inf-color-border-primary);

  &--sticky {
    position: sticky;
    top: 0;
  }

  &__container {
    height: 100%;

    > * {
      height: 100%;
    }
  }
}
