.inf-page-layout-container {
  width: 100%;
  height: 100%;
  flex-grow: 1;

  &--size-medium {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--inf-space-large);
    padding-right: var(--inf-space-large);
  }

  &--size-large {
    padding-left: 50px;
    padding-right: 50px;
  }
}
