.inf-menu-item {
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 0;
  cursor: pointer;
  padding: var(--inf-space-xsmall) var(--inf-space-small);
  font: var(--inf-font-body-1);

  &__collapse-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-right: 4px;
    color: #607880;
    transform: rotate(-90deg);

    svg {
      width: 16px;
      height: 16px;
    }

    &--rotate {
      transform: unset;
    }
  }

  &:hover {
    background-color: var(--inf-color-background-primary-hover);
  }

  &--disabled {
    color: #717375;
    pointer-events: none;
  }

  &--active {
    border-left: 2px solid var(--inf-color-background-brand-primary);
  }

  &--nested {
    padding-left: 36px;
  }

  &--br-regular {
    border-radius: var(--inf-border-radius-small);
  }

  &--no-padding {
    padding: 0;
  }
}
