.inf-loader {
  position: relative;
  animation: tp-roller-rotate 1s linear infinite;
  display: inline-block;
  background-color: inherit;

  &__circle {
    opacity: 0.4;
    display: block;
    width: 35px;
    height: 35px;
    border: 3px solid currentColor;
    border-radius: 50%;
  }

  &__dot {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: -2px;
    transform: translate(-50%);
    display: inline-flex;
    justify-content: center;
    width: 16px;
    background-color: inherit;

    &::before {
      content: ' ';
      display: block;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      background-color: currentColor;
    }
  }

  @keyframes tp-roller-rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
