.inf-loader {
  position: relative;
  animation: inf-loader-rotate 1s ease-out infinite;
  display: inline-block;
  width: var(--inf-loader-size);
  height: var(--inf-loader-size);

  &--size-compact {
    --inf-loader-size: 17.5px;
  }

  &--size-regular {
    --inf-loader-size: 35px;
  }

  &--size-large {
    --inf-loader-size: 70px;
  }

  &--variant-primary {
    color: var(--inf-color-text-brand);
  }

  &--variant-unset {
    color: unset;
  }

  &__circle {
    width: 100%;
    height: 100%;
    color: currentColor;
  }

  @keyframes inf-loader-rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
