.inf-radio {
  display: inline-flex;
  align-items: center;

  &:hover {
    & .inf-radio__box:not(.inf-radio__box--disabled) {
        border-color: var(--inf-radio-color-border-hover);
        background-color: var(--inf-radio-color-background-hover);
    }
  }

  &:active {
    & .inf-radio__box:not(.inf-radio__box--disabled) {
      border-color: var(--inf-radio-color-border-active);
      background-color: var(--inf-radio-color-background-active);
    }
  }

  &__label {
    cursor: pointer;
    user-select: none;
    margin-left: 8px;
    font-size: var(--inf-text-size-small);
    line-height: 20px;
  }

  &__box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    margin: 0;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    border: 1px solid var(--inf-radio-color-border);
    border-radius: 50%;

    &--disabled {
      border-color: var(--inf-radio-color-border-disabled);
    }
  }

  &__dot {
    background-color: transparent;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  input[type='radio'] {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    z-index: -1;
    appearance: none;


    &:checked ~ .inf-radio__box {
      border-color: transparent;
      background-color: var(--inf-radio-color-background-checked);

      .inf-radio__dot {
        background-color: white;
      }

      &--disabled {
        background-color: var(--inf-radio-color-background-checked-disabled);

        .inf-radio__dot {
          background-color: transparent;
        }
      }
    }

  }
}
