.inf-radio {
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  &--disabled {
    pointer-events: none;
  }

  &__label {
    user-select: none;
    margin-left: var(--inf-space-xsmall);
    font: var(--inf-font-body-1);
    line-height: 19px;

    &--disabled {
      color: var(--inf-color-text-tertiary);
    }
  }

  &__box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    margin: 0;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border: 1px solid var(--inf-color-border-inverse);
    border-radius: 50%;

    &--disabled {
      border-color: var(--inf-color-border-primary);
    }
  }

  &__dot {
    background-color: transparent;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  input[type='radio'] {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    z-index: -1;
    width: 1px;
    height: 1px;

    &:focus-visible {
      & ~ .inf-radio__box {
        border-color: var(--inf-color-border-brand);
        border-width: 2px;
      }

      &:checked ~ .inf-radio__box {
        background-color: var(--inf-color-background-button-primary-active);
      }
    }

    &:checked ~ .inf-radio__box {
      border-color: transparent;
      background-color: var(--inf-color-background-button-primary);

      .inf-radio__dot {
        background-color: white;
      }

      &--disabled {
        background-color: var(--inf-color-background-button-primary-disabled);
      }
    }
  }

  @include hover {
    & .inf-radio__box:not(.inf-radio__box--disabled) {
      border-color: var(--inf-color-border-brand);
      border-width: 2px;
    }
  }
}
