.inf-radio {
  display: inline-flex;
  align-items: center;
  position: relative;

  &__label {
    cursor: pointer;
    user-select: none;
    margin-left: 8px;
    font: var(--inf-font-body-1);

    &--disabled {
      color: var(--inf-color-text-tertiary);
      cursor: unset;
    }
  }

  &__box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    margin: 0;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border: 1px solid var(--inf-color-border-primary); // TODO: нужны ли эти стили если используется компонент Box
    border-radius: 50%;

    &--disabled {
      cursor: unset;
    }
  }

  &__dot {
    background-color: transparent;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  input[type='radio'] {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    z-index: -1;
    width: 16px;
    height: 16px;

    &:focus-visible ~ .inf-radio__box {
      // outline: var(--inf-border-focus);
      border-color: var(--inf-color-border-primary-hover);
    }

    &:checked ~ .inf-radio__box {
      border-color: transparent;
      background-color: var(--inf-color-background-button-primary);

      .inf-radio__dot {
        background-color: white;
      }

      &--disabled {
        background-color: var(--inf-color-background-button-primary-disabled);

        .inf-radio__dot {
          // background-color: transparent;
        }
      }
    }
  }
}

.inf-radio,
.inf-radio-box {
  @include hover {
    & .inf-radio__box:not(.inf-radio__box--disabled) {
      border-color: var(--inf-color-border-primary-hover);
    }
  }
}
