@import './common.scss';
.inf-input {
  box-sizing: border-box;
  outline: none;
  cursor: text;
  width: 100%;
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--inf-color-border-default);
  transition: border-color 0.2s;
  font-family: var(--inf-font-family-base);
  font-weight: var(--inf-font-weight-normal);

  &:hover {
    border-color: var(--inf-color-border-hover);

    input::placeholder {
      color: var(--inf-color-text-control);
    }
  }

  &--size-medium {
    line-height: 18px;
    height: var(--inf-control-height-medium);
    font-size: var(--inf-text-size-small);
    padding: var(--inf-input-padding-vertical-medium)
      var(--inf-input-padding-horizontal-medium);
  }

  input {
    border: none;
    padding: 0;
    line-height: inherit;
    font-size: inherit;
    font-weight: inherit;
    background-color: inherit;
    cursor: inherit;
    width: 100%;
  }

  // TODO: другим способом сделать специфичнее, чем .inf-input:hover
  &--focused {
    border-color: var(--inf-color-border-focused) !important;
  }

  &--br-regular {
    border-radius: var(--inf-border-radius-medium);
  }

  &--no-border {
    border: none;
  }

  &--collapse-bottom {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &--disabled {
    background-color: var(--inf-input-color-background-disabled);
    pointer-events: none;
    border-color: transparent !important;
    color: var(----inf-color-text-quaternary);

    input::placeholder {
      color: var(----inf-color-text-quaternary);
    }
  }

  &--status-error {
    border-color: var(--inf-color-primary);
  }

  &__prefix,
  &__postfix,
  &__clear-button {
    user-select: none;
    display: inline-flex;
    align-items: center;
  }

  &__prefix {
    margin-inline-end: var(--inf--space--xxsmall, 6px);
  }

  &__postfix {
    margin-inline-start: var(--inf--space--xxsmall, 6px);
  }

  &__clear-button {
    transition: var(--inf-transition_duration);
    margin-inline-start: var(--inf--space--xxsmall, 6px);
    cursor: pointer;

    &--hidden {
      visibility: hidden;
      pointer-events: none;
    }
  }
}
