.inf-input {
  box-sizing: border-box;
  outline: none;

  width: 100%;
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--inf-color-border-default);
  background-color: var(--inf--color_input_background, unset);
  transition: border-color var(--inf-transition_duration);
  font-family: var(--inf--typography_font_family--base, 'Times New Roman');
  font-weight: var(--inf--typography_font_weight--base, 400);

  &:hover {
    border-color: var(--inf-color-border-hover);

    input::placeholder {
      color: var(--inf-color-text-control);
    }
  }

  &--size-medium {
    line-height: 20px;
    height: var(--inf-control-height-small);
    font-size: var(--inf-text-size-small);
    padding: var(--inf-input-padding-vertical-medium) var(--inf-input-padding-horizontal-medium);
  }

  &__input {
    // reset styles
    border-radius: 0;
    border: none;
    padding: 0;
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background-color: inherit;
    cursor: inherit;
    width: 100%;

    -webkit-appearance: none;
    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    &[type=number] {
      -moz-appearance: textfield;
    }

    /* iOS */
    input[type="search"] {
      -webkit-appearance: none;
    }

    &::-ms-clear {
      display: none;
    }

    &::-webkit-clear-button {
      display: none;
    }

    &:focus {
      outline: none;
    }
  }

  // TODO: другим способом сделать специфичнее, чем .inf-input:hover
  &--focused {
    border-color: var(--inf-color-border-focused) !important;
  }

  &--br-regular {
    border-radius: var(--inf-border-radius-regular);
  }

  &--no-border {
    border: none;
  }

  &--collapse-bottom {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &--disabled {
    opacity: var(--inf--opacity_disable, 0.5);
    pointer-events: none;
  }

  &--status-error {
    border-color: var(--inf--color_border--error, red);
  }

  &--status-warning {
    border-color: var(--inf--color_border--warning, orange);
  }

  &__prefix, &__postfix, &__clear-button {
    user-select: none;
    display: inline-flex;
    align-items: center;
  }

  &__prefix {
    margin-inline-end: var(--inf--space--xxsmall, 6px);
  }

  &__postfix {
    margin-inline-start: var(--inf--space--xxsmall, 6px);
  }

  &__clear-button {
    transition: var(--inf-transition_duration);
    margin-inline-start: var(--inf--space--xxsmall, 6px);
    cursor: pointer;

    &--hidden {
      visibility: hidden;
      pointer-events: none;
    }
  }
}
