.inf-input-wrapper {
  box-sizing: border-box;
  outline: none;
  cursor: text;
  display: inline-flex;
  align-items: center;

  input {
    border: none;
    padding: 0;
    line-height: inherit;
    font-size: inherit;
    font-weight: inherit;
    background-color: inherit;
    cursor: inherit;
    width: 100%;
    height: 100%;
    color: inherit;

    &:focus-visible {
      outline: none;
    }
  }

  &__prefix,
  &__postfix,
  &__clear-button,
  &__visibility-button {
    user-select: none;
    display: inline-flex;
    align-items: center;
    height: 100%;
  }

  &__prefix {
    margin-inline-end: 6px;
  }

  &__postfix {
    margin-inline-start: 6px;
  }

  &__clear-button {
    display: none;
    cursor: pointer;
    transition: color 0.2s;
    color: var(--inf-color-icon-primary);

    @include hover {
      color: var(--inf-color-icon-primary-hover);
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }

  @include hover {
    .inf-input-wrapper__clear-button {
      display: inline-block;
    }
  }

  &__visibility-button {
    cursor: pointer;
    transition: color 0.2s;
    color: var(--inf-color-icon-primary);

    @include hover {
      color: var(--inf-color-icon-primary-hover);
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.inf-search-input {
  &__icon {
    width: 20px;
    height: 20px;
    color: var(--inf-color-icon-primary);
  }
}
