.inf-layout-header {
  position: sticky;
  z-index: var(--inf-z-index-header);
  top: 0;
  right: 0;
  left: 0;
  height: var(--inf-header-height);
  background-color: var(--light-color);
  box-shadow: 0 0.0625rem 0.625rem rgba(10, 62, 102, 0.1);

  &__container {
    height: 100%;
  }
}
