.inf-date-calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: var(--inf-space-xxsmall);
  align-items: center;

  font: var(--inf-font-subtitle-2);
  color: var(--inf-color-text-secondary);
  text-align: center;
}
