.inf-file {
  width: 100%;
  padding: var(--inf-space-xxsmall);

  @include hover {
    background-color: var(--inf-color-background-primary-hover);
  }

  &__name-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }

  &__loader {
    color: var(--inf-color-text-info);
  }

  &__name-wrapper {
    cursor: pointer;
  }
}
