.inf-file {
  width: 100%;
  padding: var(--inf-space-xxsmall);
  border-radius: var(--inf-border-radius-small);

  svg {
    flex-shrink: 0;
  }

  @include hover {
    background-color: var(--inf-color-background-primary-hover);
  }

  &__content-wrapper {
    width: 100%;
  }

  &__loader {
    color: var(--inf-color-text-info);
  }

  &__name-wrapper {
    cursor: pointer;
  }
}
