.inf-table-header-filter-multi-select {
  &__menu {
    padding: var(--inf-space-small) 0;
  }

  &__bottom {
    display: flex;
    gap: var(--inf-space-small);
    border-top: 1px solid var(--inf-color-border-primary);
    padding: var(--inf-space-small);
  }
}
