.inf-breadcrumbs-show-more-button {
  width: 32px;
  height: 24px;
  cursor: pointer;
  text-align: center;
  color: var(--inf-color-gray-500);
  border-radius: var(--inf-border-radius-small);

  @include hover {
    background-color: var(--inf-color-gray-100);
  }
}
