.inf-badge {
  position: relative;
  display: inline-block;
  height: 16px;

  &__sup {
    color: var(--inf-color-text-inverse);
    border-radius: 16px;
    font-size: 11px;
    line-height: 16px;
    min-width: 16px;
    height: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;

    &--tone-primary {
      background-color: var(--inf-color-primary);
    }

    &--tone-secondary {
      background-color: var(--inf-color-text-secondary);
    }
  }
}
