.listItem {
    display: flex;
    align-items: center;
    justify-content: left;

    user-select: none;
}

.itemTitle {
    cursor: pointer;
}

.listItem:nth-child(n + 2) {
    margin-top: 0.1rem;
}

.checkBox {
    margin-right: 0.5rem;
}