.inf-date-range-picker {
  position: relative;

  &__dropdown {
    background-color: var(--inf-color-background-float);
    box-shadow: var(--inf-box-shadow-medium);
    z-index: var(--inf-z-index-dropdown);
    border-radius: var(--inf-border-radius-small);
    padding: var(--inf-space-xsmall);
  }
}
