.inf-page-layout-footer {
  background-color: var(--inf-color-bg-primary);
  border-top: 1px solid var(--inf-color-border-default);
  padding: var(--inf-space-large) 0;

  &__container {
    height: 100%;
  }
}
