.inf-breadcrumbs-item {
  position: relative;
  font-size: var(--inf-text-size-medium);
  color: var(--inf-color-text-link);
  text-decoration: none;
  transition: color 0.2s;

  @include hover {
    color: var(--inf-color-text-link-hover);
  }

  &:not(:last-child)::after {
    content: '/';
    width: 8px;
    padding: var(--inf-spacing-small);
    flex-shrink: 0;
    text-align: center;
  }

  &:last-child {
    color: var(--inf-color-text);
  }
}
