.inf-breadcrumbs-item {
  position: relative;
  font: var(--inf-font-subtitle-2);
  color: var(--inf-color-text-secondary);
  text-decoration: none;
  transition: color 0.2s;

  @include hover {
    color: var(--inf-color-text-primary);
  }

  &:not(:last-child) {
    cursor: pointer;
  }

  &:last-child {
    color: var(--inf-color-text-tertiary);
    pointer-events: none;
  }
}
