.inf-combobox {
  &__counter {
    display: flex;
    gap: var(--inf-space-xxsmall);
    align-items: center;
    justify-content: center;
    border-radius: var(--inf-border-radius-xsmall);
    background-color: var(--inf-color-background-inverse);
    padding: 0 4px 0 8px;
    height: 24px;
    min-width: 24px;
    width: max-content;
    line-height: 23px;
  }

  &__counter-remove-icon {
    color: var(--inf-color-icon-primary);
  }

  &__tags {
    margin-top: var(--inf-space-medium);
  }

  &__menu {
    padding-bottom: var(--inf-space-xxsmall);
  }
}
