.inf-button {
  font-family: var(--inf-font-family-base);
  font-size: 14px;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: -webkit-max-content;
  width: max-content;
  padding: 0 16px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  border: 1px solid transparent;
  box-shadow: 0 0 0 2px transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--inf-border-radius-medium);
  transition: 0.2s;
  background: none;
  position: relative;

  &:hover {
    border-color: transparent;
  }

  &:focus-visible {
    // outline: none;
  }

  &:focus {
    // TODO: border: 2px solid #7abfff;
  }

  &--variant-primary {
    background-color: var(--inf-color-primary);
    color: #fff;

    &:hover {
      background-color: var(--inf-color-primary-light);
    }

    &:active {
      background-color: var(--inf-color-primary-dark);
    }
  }

  &--variant-secondary {
    background-color: #738f99;
    color: #fff;

    &:hover {
      background-color: #b8d1d9;
    }

    &:active {
      background-color: #46626b;
    }
  }

  &--variant-tertiary {
    color: #46626b;
    border: 1px solid #46626b;

    &:hover {
      background-color: #e6f1f5;
    }

    &:active {
      background-color: #738f99;
    }
  }

  &--variant-ghost {
    color: var(--inf-color-text-secondary);

    &:hover {
      color: var(--inf-color-text-tertiary);
    }

    &:active {
      color: var(--inf-color-text-tertiary);
    }
  }

  &:disabled {
    background-color: var(--inf-color-background-control-disabled);
    border-color: var(--inf-color-background-control-disabled);
    color: var(--inf-color-text-quaternary);
    pointer-events: none;
    cursor: default;
  }

  &--block {
    width: 100%;
  }

  &--loading {
    pointer-events: none;
    cursor: default;

    .inf-button__content {
      visibility: hidden;
    }
  }

  &--square {
    padding: 0;
  }

  &--size-small {
    height: var(--inf-control-height-small);

    &.inf-button--square {
      width: var(--inf-control-height-small);
    }
  }

  &--size-medium {
    height: var(--inf-control-height-medium);

    &.inf-button--square {
      width: var(--inf-control-height-medium);
    }
  }

  &--size-large {
    height: var(--inf-control-height-large);

    &.inf-button--square {
      width: var(--inf-control-height-large);
    }
  }

  &__loader {
    position: absolute;
  }

  &__content {
    flex-shrink: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
  }

  &__before,
  &__after,
  &__icon {
    display: flex;
  }

  .inf-button__after:not(:first-child),
  .inf-button__before:not(:last-child) + .inf-button__text {
    margin-left: var(--inf-space-xsmall);
  }
}
