.inf-button {
  font-family: var(--inf-font-family-base);
  font-size: var(--inf-font-size-body-1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: -webkit-max-content;
  width: max-content;
  max-width: 100%;
  padding: 0 16px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--inf-border-radius-small);
  transition: background-color 0.2s;
  background: none;
  position: relative;

  &:hover {
    border-color: transparent;
  }

  &:focus-visible {
    outline: var(--inf-border-focus);
  }

  &--variant-primary {
    background-color: var(--inf-color-background-button-primary);
    color: var(--inf-color-text-on-color);

    &:hover {
      background-color: var(--inf-color-background-button-primary-hover);
    }

    &:active {
      background-color: var(--inf-color-background-button-primary-active);
    }

    &:disabled,
    &.inf-button--disabled {
      background-color: var(--inf-color-background-button-primary-disabled);
    }
  }

  &--variant-secondary {
    background-color: var(--inf-color-background-button-secondary);
    color: var(--inf-color-text-info);

    &:hover {
      background-color: var(--inf-color-background-button-secondary-hover);
    }

    &:active {
      background-color: var(--inf-color-background-button-secondary-active);
    }

    &:disabled,
    &.inf-button--disabled {
      color: var(--inf-color-text-info-disabled);
    }
  }

  &--variant-ghost {
    background-color: transparent;
    color: var(--inf-color-text-info);

    &:hover {
      background-color: var(--inf-color-background-button-secondary-hover);
    }

    &:active {
      background-color: var(--inf-color-background-button-secondary-active);
    }

    &:disabled,
    &.inf-button--disabled {
      color: var(--inf-color-text-info-disabled);
    }
  }

  &:disabled,
  &--disabled {
    pointer-events: none;
    cursor: default;
  }

  &--block {
    width: 100%;
  }

  &--loading {
    pointer-events: none;
    cursor: default;

    .inf-button__content {
      visibility: hidden;
    }
  }

  &--square {
    padding: 0;
  }

  &--size-small {
    padding: 0 var(--inf-space-small);
    height: var(--inf-control-height-small);

    &.inf-button--square {
      width: var(--inf-control-height-small);
      padding: 0 6px; // Переопределяем паддинги, тк иначе невозможно вписаться в указанную выше ширину
    }
  }

  &--size-medium {
    padding: 0 var(--inf-space-medium);
    height: var(--inf-control-height-medium);

    &.inf-button--square {
      width: var(--inf-control-height-medium);
      padding: 0 10px; // Переопределяем паддинги, тк иначе невозможно вписаться в указанную выше ширину
    }
  }

  &--size-large {
    padding: 0 var(--inf-space-medium);
    height: var(--inf-control-height-large);

    &.inf-button--square {
      width: var(--inf-control-height-large);
    }
  }

  &__loader {
    position: absolute;
  }

  &__content {
    display: flex;
    align-items: center;
    max-width: 100%;
  }

  &__text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__before,
  &__after,
  &__icon {
    display: flex;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .inf-button__after:not(:first-child),
  .inf-button__before:not(:last-child) + .inf-button__text {
    margin-left: var(--inf-space-xsmall);
  }
}
