.inf-button {
  font: var(--inf-font-body-1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: -webkit-max-content;
  width: max-content;
  padding: 0 var(--inf-space-medium);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  // border: 1px solid transparent;
  // box-shadow: 0 0 0 2px transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--inf-border-radius-small);
  transition: background-color 0.2s;
  background: none;
  position: relative;

  &:hover {
    border-color: transparent;
  }

  @include focus-styles;

  &--variant-primary {
    background-color: var(--inf-color-bg-button-primary);
    color: var(--inf-color-text-on-color);

    &:hover {
      background-color: var(--inf-color-bg-button-primary-hover);
    }

    &:active {
      background-color: var(--inf-color-bg-button-primary-active);
    }

    &:disabled {
      background-color: var(--inf-color-bg-button-primary-disabled);
    }
  }

  &--variant-secondary {
    background-color: var(--inf-color-bg-button-secondary);
    color: var(--inf-color-text-info);

    &:hover {
      background-color: var(--inf-color-bg-button-secondary-hover);
    }

    &:active {
      background-color: var(--inf-color-bg-button-secondary-active);
    }

    &:disabled {
      color: var(--inf-color-text-info-disabled);
    }
  }

  &--variant-tertiary {
    background-color: var(--inf-color-bg-button-secondary);
    color: var(--inf-color-text-info);

    &:hover {
      background-color: var(--inf-color-bg-button-secondary-hover);
    }

    &:active {
      background-color: var(--inf-color-bg-button-secondary-active);
    }

    &:disabled {
      color: var(--inf-color-text-info-disabled);
    }
  }

  &--variant-ghost {
    color: var(--inf-color-text-info);

    &:hover {
      background-color: var(--inf-color-bg-button-secondary-hover);
    }

    &:active {
      background-color: var(--inf-color-bg-button-secondary-active);
    }

    &:disabled {
      color: var(--inf-color-text-info-disabled);
    }
  }

  &:disabled {
    pointer-events: none;
    cursor: default;
  }

  &--block {
    width: 100%;
  }

  &--loading {
    pointer-events: none;
    cursor: default;

    .inf-button__content {
      visibility: hidden;
    }
  }

  &--square {
    padding: 0;
  }

  &--size-small {
    height: var(--inf-control-height-small);

    &.inf-button--square {
      width: var(--inf-control-height-small);
    }
  }

  &--size-medium {
    height: var(--inf-control-height-medium);

    &.inf-button--square {
      width: var(--inf-control-height-medium);
    }
  }

  &--size-large {
    height: var(--inf-control-height-large);

    &.inf-button--square {
      width: var(--inf-control-height-large);
    }
  }

  &__loader {
    position: absolute;
  }

  &__content {
    flex-shrink: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
  }

  &__before,
  &__after,
  &__icon {
    display: flex;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .inf-button__after:not(:first-child),
  .inf-button__before:not(:last-child) + .inf-button__text {
    margin-left: var(--inf-space-xsmall);
  }
}
