.inf-button {
  font-family: var(--inf-font-family-base);
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: -webkit-max-content;
  width: max-content;
  padding: 0 16px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  border: 1px solid transparent;
  box-shadow: 0 0 0 2px transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--inf-border-radius-medium);
  transition: .2s;
  background: none;

  &:focus-visible {
    outline: none;
  }

  &--variant-primary {
    background-color: var(--inf-color-primary);
    color: #fff;

    &:hover {
      background-color: var(--inf-color-primary-light);
    }

    &:active {
      background-color: var(--inf-color-primary-dark);
    }
  }

  &--variant-secondary {
    background-color: #738F99;
    color: #fff;

    &:hover {
      background-color: #B8D1D9;
    }

    &:active {
      background-color: #46626B;
    }
  }

  &--variant-default {
    color: #46626B;
    border: 1px solid #46626B;

    &:hover {
      background-color: #E6F1F5;
    }

    &:active {
      background-color: #738F99;
    }
  }

  &--disabled {
    background-color: #F2F4F5;
    color: #C8CACC;
  }

  &--size-small {
    height: var(--inf-control-height-small);
  }

  &--size-medium {
    height: var(--inf-control-height-medium);
  }

  &--size-large {
    height: var(--inf-control-height-large);
  }
}
