.inf-text {
  font-family: var(--inf-font-family-base);

  &--size-xsmall {
    font-size: var(--inf-font-size-overline-1);
    line-height: var(--inf-font-line-height-overline-1);
  }

  &--size-small {
    font-size: var(--inf-font-size-body-2);
    line-height: var(--inf-font-line-height-body-2);
  }

  &--size-medium {
    font-size: var(--inf-font-size-body-1);
    line-height: var(--inf-font-line-height-body-1);
  }

  &--size-large {
    font-size: var(--inf-font-size-subtitle-1);
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--truncated {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &--align-center {
    text-align: center;
  }

  &--align-left {
    text-align: left;
  }

  &--align-right {
    text-align: right;
  }

  &--weight-normal {
    font-weight: var(--inf-font-weight-normal);
  }

  &--weight-bold {
    font-weight: var(--inf-font-weight-bold);
  }

  &--tone-default {
    color: var(--inf-color-text);
  }

  &--tone-secondary {
    color: var(--inf-color-text-secondary);
  }

  &--tone-tertiary {
    color: var(--inf-color-text-tertiary);
  }

  &--tone-quaternary {
    color: var(--inf-color-text-quaternary);
  }

  &--tone-danger {
    color: var(--inf-color-text-danger);
  }

  &--tone-success {
    color: var(--inf-color-text-success);
  }

  &--tone-warning {
    color: var(--inf-color-text-warning);
  }

  &--tone-inverse {
    color: var(--inf-color-text-inverse);
  }
}
