.inf-text {
  font-family: var(--inf-font-family-base);

  &--variant-heading-1 {
    font: var(--inf-font-h1);
  }

  &--variant-heading-2 {
    font: var(--inf-font-h2);
  }

  &--variant-heading-3 {
    font: var(--inf-font-h3);
  }

  &--variant-heading-4 {
    font: var(--inf-font-h4);
  }

  &--variant-subtitle-1 {
    font: var(--inf-font-subtitle-1);
  }

  &--variant-subtitle-2 {
    font: var(--inf-font-subtitle-2);
  }

  &--variant-subtitle-3 {
    font: var(--inf-font-subtitle-3);
  }

  &--variant-body-1 {
    font: var(--inf-font-body-1);
  }

  &--variant-body-2 {
    font: var(--inf-font-body-2);
  }

  &--variant-overline {
    font: var(--inf-font-overline);
    text-transform: uppercase;
    letter-spacing: 0.04em;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--truncated {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &--alignment-center {
    text-align: center;
  }

  &--alignment-left {
    text-align: left;
  }

  &--alignment-right {
    text-align: right;
  }

  &--alignment-justify {
    text-align: justify;
  }

  &--weight-light {
    font-weight: var(--inf-font-weight-light);
  }

  &--weight-normal {
    font-weight: var(--inf-font-weight-normal);
  }

  &--weight-bold {
    font-weight: var(--inf-font-weight-bold);
  }

  &--weight-extrabold {
    font-weight: var(--inf-font-weight-extrabold);
  }

  &--color-primary {
    color: var(--inf-color-text-primary);
  }

  &--color-secondary {
    color: var(--inf-color-text-secondary);
  }

  &--color-tertiary {
    color: var(--inf-color-text-tertiary);
  }

  &--color-inverse {
    color: var(--inf-color-text-inverse);
  }

  &--color-success {
    color: var(--inf-color-text-success);
  }

  &--color-danger {
    color: var(--inf-color-text-danger);
  }

  &--color-error {
    color: var(--inf-color-text-error);
  }

  &--color-warning {
    color: var(--inf-color-text-warning);
  }

  &--color-link {
    color: var(--inf-color-text-link);
  }
}
