.inf-text {
  font-family: var(--inf-font-family-base);

  &--size-medium {
    font-size: var(--inf-text-size-medium);
  }

  &--size-xsmall {
    font-size: var(--inf-text-size-xsmall);
  }

  &--size-xxsmall {
    font-size: var(--inf-text-size-xxsmall);
  }

  &--size-small {
    font-size: var(--inf-text-size-small);
  }

  &--size-large {
    font-size: var(--inf-text-size-large);
  }

  &--size-xlarge {
    font-size: var(--inf-text-size-xlarge);
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--truncated {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &--align-center {
    text-align: center;
  }

  &--align-left {
    text-align: left;
  }

  &--align-right {
    text-align: right;
  }

  &--weight-light {
    font-weight: var(--inf-font-weight-light);
  }

  &--weight-normal {
    font-weight: var(--inf-font-weight-normal);
  }

  &--weight-bold {
    font-weight: var(--inf-font-weight-bold);
  }

  &--weight-extrabold {
    font-weight: var(--inf-font-weight-extrabold);
  }

  &--tone-default {
    color: var(--inf-color-text);
  }

  &--tone-secondary {
    color: var(--inf-color-text-secondary);
  }

  &--tone-tertiary {
    color: var(--inf-color-text-tertiary);
  }

  &--tone-quaternary {
    color: var(--inf-color-text-quaternary);
  }

  &--tone-danger {
    color: var(--inf-color-text-danger);
  }

  &--tone-success {
    color: var(--inf-color-text-success);
  }

  &--tone-warning {
    color: var(--inf-color-text-warning);
  }

  &--tone-inverse {
    color: var(--inf-color-text-inverse);
  }
}
