.inf-menu {
  &--gap-xxsmall {
    --gap: var(--inf-space-xxsmall);
  }

  &--gap-xsmall {
    --gap: var(--inf-space-xsmall);
  }

  &--gap-small {
    --gap: var(--inf-space-small);
  }

  &--gap-medium {
    --gap: var(--inf-space-medium);
  }

  &--gap-large {
    --gap: var(--inf-space-large);
  }

  &--gap-xlarge {
    --gap: var(--inf-space-xlarge);
  }

  > * + * {
    margin-top: var(--gap);
  }

  &--scrollable {
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 7px;
      background: #e7e7e7;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      width: 7px;
      background-color: #c9c9c9;
    }
  }
}
