.inf-menu {
  &--gap-xxsmall {
    --gap: var(--inf-space-xxsmall);
  }

  &--gap-xsmall {
    --gap: var(--inf-space-xsmall);
  }

  &--gap-small {
    --gap: var(--inf-space-small);
  }

  &--gap-medium {
    --gap: var(--inf-space-medium);
  }

  &--gap-large {
    --gap: var(--inf-space-large);
  }

  &--gap-xlarge {
    --gap: var(--inf-space-xlarge);
  }

  > * + * {
    margin-top: var(--gap);
  }

  &--scrollable {
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      border-top-right-radius: var(--inf-border-radius-small);
      border-bottom-right-radius: var(--inf-border-radius-small);
      background: var(--inf-scrollbar-track-color-background);
      &:hover {
        background: var(--inf-scrollbar-track-color-background-hover);
      }
    }

    &::-webkit-scrollbar-thumb {
      border-radius: var(--inf-border-radius-xsmall);
      border: 2px solid var(--inf-scrollbar-track-color-background);
      background-color: var(--inf-scrollbar-thumb-color-background);
      &:hover {
        border-color: var(--inf-scrollbar-track-color-background-hover);
      }
    }
  }
}
