.inf-menu {
}

.inf-menu-list {
  display: flex;
  flex-direction: column;
  background-color: var(--inf-color-background-base);
  color: var(--inf-color-text);
  border: 1px solid var(--inf-color-border-default);
  width: max-content;
}

.inf-menu-item {
  display: flex;
  width: 100%;
  padding: 6px 12px;

  &:hover {
    background-color: var(--inf-control-background-color-hover);
  }
}
