.inf-checkbox {
  display: inline-flex;
  align-items: center;
  width: max-content;

  &:hover {
    & input[type=checkbox] ~ .inf-checkbox__box:not(.inf-checkbox__box--disabled) {
      border-color: var(--inf-checkbox-color-border-hover)
    }

    & input[type=checkbox]:checked ~ .inf-checkbox__box {
      border-color: transparent;
      background-color: var(--inf-checkbox-checked-color-background-hover);
    }
  }

  &:active {
    & input[type=checkbox] ~ .inf-checkbox__box:not(.inf-checkbox__box--disabled) {
      border-color: var(--inf-checkbox-color-border-active);
      background-color: var(--inf-checkbox-color-background-active);

      svg:not(.inf-checkbox input[type='checkbox']:checked ~ .inf-checkbox__box:not(.inf-checkbox__box--disabled) svg) {
        visibility: hidden;
      }
    }

    & input[type=checkbox]:checked ~ .inf-checkbox__box {
      border-color: transparent;
      background-color: var(--inf-checkbox-checked-color-background-active);

      svg {
        visibility: visible;
      }
    }
  }

  &__label {
    cursor: pointer;
    user-select: none;
    margin-left: 8px;
    font-size: var(--inf-text-size-small);
    line-height: 20px;

    &--disabled {
      cursor: unset;
    }
  }

  &__box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    margin: 0;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border: 1px solid var(--inf-color-border-default);
    color: white;
    background-color: var(--inf-checkbox-color-background);
    border-radius: var(--inf-border-radius-small);

    &--disabled {
      cursor: unset;
      border-color: var(--inf-checkbox-color-border);
      background-color: var(--inf-checkbox-color-background-disabled);

      svg:not(.inf-checkbox input[type='checkbox']:checked) {
        visibility: hidden;
      }
    }

    &--indeterminate:not(.inf-checkbox__box--disabled) {
      border-color: transparent;
      background-color: var(--inf-checkbox-checked-color-background);

      svg {
        visibility: visible;
      }
    }
  }

  input[type='checkbox'] {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    z-index: -1;
    appearance: none;


    &:checked ~ .inf-checkbox__box {
      border-color: transparent;
      background-color: var(--inf-checkbox-checked-color-background);
    }

    &:checked:disabled ~ .inf-checkbox__box {
      background-color: var(--inf-checkbox-checked-color-background-disabled);

      svg {
        visibility: visible;
      }
    }

    &:disabled ~ .inf-checkbox__box--indeterminate {
      background-color: var(--inf-checkbox-checked-color-background-disabled);

      svg {
        visibility: visible;
      }
    }
  }
}
