.banner-with-title {
  height: 176px;
  background-size: cover;
  padding: var(--inf-space-large);
  display: flex;
  align-items: center;

  &__title {
    max-width: 500px;
    font: var(--inf-font-h2) !important;
  }
}
