@import '../Input/common.scss';
.inf-textarea {
  box-sizing: border-box;
  outline: none;
  cursor: text;
  display: block;
  width: 100%;
  border: 1px solid var(--inf-color-border-default);
  border-radius: var(--inf-border-radius-small);
  transition: border-color 0.2s;
  font-weight: var(--inf-font-weight-normal);
  font-size: var(--inf-text-size-small);
  line-height: 18px;
  padding: 7px 12px;
  background-color: inherit;
  overflow: hidden;
  resize: none;

  &:hover {
    border-color: var(--inf-color-border-hover);

    &::placeholder {
      color: var(--inf-color-text-control);
    }
  }

  &:focus {
    border-color: var(--inf-color-border-focused);
  }

  &:disabled {
    background-color: var(--inf-input-color-background-disabled);
    pointer-events: none;
    border-color: transparent;
    color: var(--inf-color-text-quaternary);

    &::placeholder {
      color: var(--inf-color-text-quaternary);
    }
  }

  &--status-error {
    border-color: var(--inf-color-primary);
  }

  &--block {
    width: 100%;
  }

  &--filled {
    border-color: var(--inf-color-border-focused);
  }

  &--resize-both {
    resize: both;
  }

  &--resize-horizontal {
    resize: horizontal;
  }

  &--resize-vertical {
    resize: vertical;
  }
}
