@import '../../styles/common/text-field.scss';

.inf-textarea {
  box-sizing: border-box;
  outline: none;
  cursor: text;
  display: block;
  font: var(--inf-font-body-2);
  padding: 7px 12px;
  background-color: inherit;
  overflow: hidden;
  resize: none;

  &--block {
    width: 100%;
  }

  &--resize-both {
    resize: both;
  }

  &--resize-horizontal {
    resize: horizontal;
  }

  &--resize-vertical {
    resize: vertical;
  }
}
