.inf-tab {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  font-family: var(--inf-font-family-base);
  font-size: 14px;
  line-height: 18px;
  font-weight: 800;
  padding: 0 0 4px 0;
  --tabs-gap: 20px;

  &:hover {
    color: var(--inf-color-primary-light);
  }

  &:active {
    color: var(--inf-color-primary-dark);
  }

  &:not(:first-child) {
    margin-left: var(--tabs-gap);
  }

  &--disabled {
    color: var(--inf-color-text-quaternary);
    pointer-events: none;

    .inf-tab__badge {
      background-color: var(--inf-color-primary-lighter);
    }

    .inf-tab__underline {
      background-color: var(--inf-color-border-default);
    }
  }

  &__label {
    position: relative;
  }

  &__underline {
    background-color: var(--inf-color-primary-dark);
    display: block;
    height: 2px;
    width: 100%;
  }

  &__badge {
    background-color: var(--inf-color-primary);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    color: white;
    // TODO: что тут с размерами
    font-size: 11px;
    margin-left: 4px;
  }
}
