.inf-notification-container {
  --inf-notification-viewport-padding: 25px;
  position: fixed;
  top: 0;
  right: 0;
  padding: var(--inf-notification-viewport-padding);
  display: flex;
  flex-direction: column;
  gap: var(--inf-space-medium);
  width: 400px;
  max-width: 100vw;
  margin: 0;
  list-style: none;
  outline: none;
  z-index: var(--inf-z-index-notification);
}
