.inf-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px;

  &--size-xsmall {
    max-width: calc(var(--inf-container-width-xsmall) + 48px);
  }

  &--size-small {
    max-width: calc(var(--inf-container-width-small) + 48px);
  }

  &--size-medium {
    max-width: calc(var(--inf-container-width-medium) + 48px);
  }

  &--size-large {
    max-width: calc(var(--inf-container-width-large) + 48px);
  }

  &--size-xlarge {
    max-width: calc(var(--inf-container-width-xlarge) + 48px);
  }
}
