.inf-calendar-years {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 32px;
  height: 224px;
  position: relative;
  overflow-y: scroll;
  // TODO: IDD-305

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    width: 0;
  }
}
