.inf-positioning {
  padding: 8px;

  &__arrow {
    position: absolute;
    background-color: inherit;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
  }

  // TOP
  &[data-popper-placement^='top'] > .inf-positioning__arrow {
    bottom: -6px;
    left: 50%;
    transform: rotate(45deg) translateX(-50%);
  }

  &[data-popper-placement^='top-start'] > .inf-positioning__arrow {
    left: 8px;
    bottom: -4px;
    transform: rotate(45deg);
  }

  &[data-popper-placement^='top-end'] > .inf-positioning__arrow {
    right: 8px;
    transform: rotate(45deg);
    left: unset;
    bottom: -4px;
  }

  // BOTTOM
  &[data-popper-placement^='bottom'] > .inf-positioning__arrow {
    top: 0;
    left: 50%;
    transform: rotate(45deg) translateX(-50%);
  }

  &[data-popper-placement^='bottom-start'] > .inf-positioning__arrow, {
    left: 8px;
    top: -4px;
    transform: rotate(45deg);
  }

  &[data-popper-placement^='bottom-end'] > .inf-positioning__arrow {
    right: 8px;
    transform: rotate(45deg);
    left: unset;
    top: -4px;
  }

  // LEFT
  &[data-popper-placement^='left'] > .inf-positioning__arrow {
    right: 0;
    transform: rotate(45deg) translateY(-50%);
    top: 50%;
  }

  &[data-popper-placement^='left-start'] > .inf-positioning__arrow {
    transform: rotate(45deg);
    right: -4px;
    top: 8px;
  }

  &[data-popper-placement^='left-end'] > .inf-positioning__arrow {
    transform: rotate(45deg);
    right: -4px;
    top: unset;
    bottom: 8px;
  }


  // RIGHT
  // TODO: иногда криво позиционируется
  &[data-popper-placement^='right'] > .inf-positioning__arrow {
    left: -6px;
    transform: rotate(45deg) translateY(-50%);
    top: 50%;
  }

  &[data-popper-placement^='right-start'] > .inf-positioning__arrow {
    left: -4px;
    transform: rotate(45deg);
    top: 8px;
  }

  &[data-popper-placement^='right-end'] > .inf-positioning__arrow {
    left: -4px;
    top: unset;
    transform: rotate(45deg);
    bottom: 8px;
  }
}
