.inf-table-with-virtual-rows {
  --table-with-virtual-rows-border-radius: 0;

  border-radius: var(--table-with-virtual-rows-border-radius);
  border: 1px solid var(--inf-color-border-default);

  &--border-radius-xsmall {
    --table-with-virtual-rows-border-radius: var(--inf-border-radius-xsmall);
  }

  &--border-radius-small {
    --table-with-virtual-rows-border-radius: var(--inf-border-radius-small);
  }

  &--border-radius-medium {
    --table-with-virtual-rows-border-radius: var(--inf-border-radius-medium);
  }

  &--border-radius-large {
    --table-with-virtual-rows-border-radius: var(--inf-border-radius-large);
  }
}
