.inf-page-layout-content {
  flex-grow: 1;
  background-color: var(--inf-color-background-primary);

  &--center-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--extra-margin-bottom-bar {
    margin-bottom: var(--inf-height-bottom-bar);
  }

  &--collapse-padding-top {
    padding-top: 0;
  }

  &--collapse-padding-bottom {
    padding-bottom: 0;
  }
}
