.inf-page-layout-content {
  flex-grow: 1;
  background-color: var(--inf-color-background-default);
  padding: var(--inf-space-xxlarge) 0;

  &--center-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--extra-padding-bottom {
    padding-bottom: calc(
      var(--inf-space-xxlarge) + var(--inf-height-bottom-bar)
    );
  }

  &--collapse-padding-top {
    padding-top: 0;
  }
}
