@font-face {
  font-family: Circe;
  src: local(Circe), local('Circe-Regular'),
    url('../assets/fonts/Circe-Regular.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Circe;
  src: local('Circe ExtraLight'), local('Circe-ExtraLight'),
    url('../assets/fonts/Circe-ExtraLight.woff') format('woff');

  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Circe;
  src: local('Circe Thin'), local('Circe-Thin'),
    url('../assets/fonts/Circe-Thin.woff') format('woff');

  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Circe;
  src: local('Circe Light'), local('Circe-Light'),
    url('../assets/fonts/Circe-Light.woff') format('woff');

  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Circe;
  src: local('Circe Bold'), local('Circe-Bold'),
    url('../assets/fonts/Circe-Bold.woff') format('woff');

  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Circe;
  src: local('Circe ExtraBold'), local('Circe-ExtraBold'),
    url('../assets/fonts/Circe-ExtraBold.woff') format('woff');

  font-weight: 800;
  font-style: normal;
}
