@font-face {
  font-family: "Circe";
  src: url("../assets/fonts/circe.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("../assets/fonts/circe-light.ttf");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("../assets/fonts/circe-bold.ttf");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("../assets/fonts/circe-extrabold.ttf");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}