@import './mixins.scss';
@import './reset.scss';
@import './fonts.scss';
@import './tokens/index.scss';

html,
body {
  height: 100%;
}

#storybook-root {
  height: 100%;
}

body {
  background-color: var(--inf-color-background-page);
  color: var(--inf-color-text);
  font-family: var(--inf-font-family-base);
}

:root {
  --container-width: 80rem;
  --container-padding: 2.5rem;
  --footer-height: 3rem;
  --page-side-margin: 5rem;
  --status-width: 155px;
  --default-verticalPlace: 0.5rem;
}
