:root {
  --inf-color-primary: #F53A3A;
  --inf-color-primary-dark: #CC2D32;
  --inf-color-primary-light: #FF6666;
  --inf-color-primary-lighter: #FFA8A8;
  --inf-color-text: #1F2021;
  --inf-color-text-secondary: #738F99;
  --inf-color-text-tertiary: #717375;
  --inf-color-text-quaternary: #C8CACC;
  --inf-color-text-contrast: #fff;
  --inf-color-success: #1DBF6E;
  --inf-color-success-dark: #029161;
  --inf-color-success-light: #48E697;
  --inf-color-success-light: #84F2BB;
  --inf-color-text-warning: yellow;
  --inf-color-text-success: var(--inf-color-success);
  --inf-color-text-danger: #F53A3A;
  --inf-color-text-link: blue;
  --inf-color-text-control: #46626B;
  --inf-color-icon: black;
  --inf-color-icon-secondary: #444;
  --inf-color-icon-contrast: #fff;
  --inf-color-background-base: #fff;
  --inf-color-background-secondary: #ccc;
  --inf-color-background-contrast: black;
  /* --inf-color-control-secondary: lightgray; */
  /* --inf-color-control-secondary: lightgray; */
   --inf-color-border-default: #C8CACC;
   --inf-color-border-selected: lightgray;

  --inf-font-family-base: "Circe", Arial, sans-serif;

  --inf-font-weight-light: 300;
  --inf-font-weight-normal: 400;
  --inf-font-weight-bold: 600;
  --inf-font-weight-extrabold: 800;

  --inf-text-size-medium: 16px;
  --inf-text-size-small: 14px;
  --inf-text-size-xsmall: 10px;
  --inf-text-size-large: 18px;
  --inf-text-size-xlarge: 20px;

  --inf-heading-level-1-size: 80px;
  --inf-heading-level-1-line-height: 80px;
  --inf-heading-level-2-size: 30px;
  --inf-heading-level-2-line-height: 32px;
  --inf-heading-level-3-size: 24px;
  --inf-heading-level-3-line-height: 28px;
  --inf-heading-level-4-size: 18px;
  --inf-heading-level-4-line-height: 24px;
  --inf-heading-level-5-size: 16px;
  --inf-heading-level-5-line-height: 20px;

  --inf-control-height-medium: 50px;
  --inf-control-height-small: 35px;
  --inf-control-height-large: 60px;

  /* Border radius */
  --inf-border-radius-small: 3px;
  --inf-border-radius-regular: 4px;
  --inf-border-radius-medium: 8px;

  /* Input */
  --inf-input-padding-horizontal-small: 9px;
  --inf-input-padding-horizontal-medium: 15px;
  --inf-input-padding-vertical-small: 6px;
  --inf-input-padding-vertical-medium: 12px;

  /*  Select */
  --inf-select-items-border-radius-regular: var(--inf-border-radius-regular);
  --inf-select-items-padding-horizontal-small: 6px;
  --inf-select-items-padding-horizontal-medium: 0px;
  --inf-select-items-padding-vertical-small: 3px;
  --inf-select-items-padding-vertical-medium: 8px;
  --inf-select-item-background-hover: darkred;
  --inf-select-item-border-radius: var(--inf-border-radius-regular);
  --inf-select-item-space: 4px;

  /* Checkbox */
  --inf-checkbox-color-border: var(--inf-color-border-default);
  --inf-checkbox-color-border-hover: #738F99;
  --inf-checkbox-color-border-active: #738F99;

  --inf-checkbox-color-background: white;
  --inf-checkbox-color-background-active: #B8D1D9;
  --inf-checkbox-color-background-disabled: #F2F4F5;

  --inf-checkbox-checked-color-background: #F53A50;
  --inf-checkbox-checked-color-background-hover: #FF6673;
  --inf-checkbox-checked-color-background-active: #CC2D32;
  --inf-checkbox-checked-color-background-disabled: #C8CACC;

  /* Radio */
  --inf-radio-color-border: #1F2021;
  --inf-radio-color-border-hover: #738F99;
  --inf-radio-color-border-active: #738F99;
  --inf-radio-color-border-disabled: var(--inf-color-border-default);

  --inf-radio-color-background-hover: #E6F1F5;
  --inf-radio-color-background-active: #B8D1D9;
  --inf-radio-color-background-checked: #F53A50;
  --inf-radio-color-background-checked-disabled: #C8CACC;

  /* Modal */
  --inf-modal-backdrop-background: rgba(0, 0, 0, 0.3)
}
