:root {
  --inf-color-primary: #f53a3a;
  --inf-color-primary-dark: #cc2d32;
  --inf-color-primary-light: #ff6666;
  --inf-color-primary-lighter: #ffa8a8;
  --inf-color-text: #1f2021;
  --inf-color-text-secondary: #738f99;
  --inf-color-text-tertiary: #717375;
  --inf-color-text-quaternary: #c8cacc;
  --inf-color-text-contrast: #fff;
  --inf-color-success: #1dbf6e;
  --inf-color-success-dark: #029161;
  --inf-color-success-light: #48e697;
  --inf-color-success-light: #84f2bb;
  --inf-color-text-warning: yellow;
  --inf-color-text-success: var(--inf-color-success);
  --inf-color-text-danger: #f53a3a;
  --inf-color-text-link: blue;
  --inf-color-text-control: #46626b;
  --inf-color-icon: black;
  --inf-color-icon-secondary: #444;
  --inf-color-icon-contrast: #fff;
  --inf-color-background-base: #fff;
  --inf-color-background-secondary: #ccc;
  --inf-color-background-contrast: #1f2021;
  --inf-color-background-control-disabled: #f2f4f5;
  /* --inf-color-control-secondary: lightgray; */
  /* --inf-color-control-secondary: lightgray; */
  --inf-color-border-default: #c8cacc;
  --inf-color-border-hover: #46626b;
  --inf-color-border-focused: #46626b;
  --inf-control-color-border-active: #738f99;
  --inf-control-background-color-hover: #e6f1f5;

  --inf-font-family-base: 'Circe', Arial, sans-serif;

  --inf-font-weight-light: 300;
  --inf-font-weight-normal: 400;
  --inf-font-weight-bold: 600;
  --inf-font-weight-extrabold: 800;

  --inf-text-size-medium: 16px;
  --inf-text-size-small: 14px;
  --inf-text-size-xsmall: 10px;
  --inf-text-size-large: 18px;
  --inf-text-size-xlarge: 20px;

  --inf-heading-level-1-size: 80px;
  --inf-heading-level-1-line-height: 80px;
  --inf-heading-level-2-size: 30px;
  --inf-heading-level-2-line-height: 32px;
  --inf-heading-level-3-size: 24px;
  --inf-heading-level-3-line-height: 28px;
  --inf-heading-level-4-size: 18px;
  --inf-heading-level-4-line-height: 24px;
  --inf-heading-level-5-size: 16px;
  --inf-heading-level-5-line-height: 20px;

  --inf-space-xxsmall: 4px;
  --inf-space-xsmall: 8px;
  --inf-space-small: 16px;
  --inf-space-medium: 24px;
  --inf-space-large: 32px;
  --inf-space-xlarge: 40px;

  --inf-control-height-medium: 32px;
  --inf-control-height-small: 28px; // нет в макете
  --inf-control-height-large: 36px; // нет в макете

  /* Spacing */
  --inf-spacing-checked-group: 2px;

  /* Border radius */
  --inf-border-radius-medium: 4px;

  /* Input */
  --inf-input-padding-horizontal-medium: 12px;
  --inf-input-padding-vertical-medium: 4px;
  --inf-input-color-background-disabled: var(
    --inf-color-background-control-disabled
  );

  /*  Select */
  --inf-select-items-border-radius-regular: var(--inf-border-radius-medium);
  --inf-select-items-padding-horizontal-small: 6px;
  --inf-select-items-padding-horizontal-medium: 0px;
  --inf-select-items-padding-vertical-small: 3px;
  --inf-select-items-padding-vertical-medium: 8px;
  --inf-select-item-background-hover: darkred;
  --inf-select-item-border-radius: var(--inf-border-radius-medium);
  --inf-select-item-space: 4px;

  /* Checkbox */
  --inf-checkbox-color-border: var(--inf-color-border-default);
  --inf-checkbox-color-border-hover: var(--inf-control-color-border-active);
  --inf-checkbox-color-border-active: var(--inf-control-color-border-active);

  --inf-checkbox-color-background: white;
  --inf-checkbox-color-background-active: #b8d1d9;
  --inf-checkbox-color-background-disabled: var(
    --inf-color-background-control-disabled
  );

  --inf-checkbox-checked-color-background: #f53a50;
  --inf-checkbox-checked-color-background-hover: #ff6673;
  --inf-checkbox-checked-color-background-active: #cc2d32;
  --inf-checkbox-checked-color-background-disabled: #c8cacc;

  /* Radio */
  --inf-radio-color-border: #1f2021;
  --inf-radio-color-border-hover: var(--inf-control-color-border-active);
  --inf-radio-color-border-active: var(--inf-control-color-border-active);
  --inf-radio-color-border-disabled: var(--inf-color-border-default);

  --inf-radio-color-background-hover: #e6f1f5;
  --inf-radio-color-background-active: #b8d1d9;
  --inf-radio-color-background-checked: #f53a50;
  --inf-radio-color-background-checked-disabled: #c8cacc;

  /* Modal */
  --inf-modal-backdrop-background: rgba(0, 0, 0, 0.3);

  /* МПК */
  --brand-color: #e54350;
  --brand-light-color: #ff5764;
  --brand-dark-color: #c42f3b;
  --primary-1-dark: #cc2d32;
  --primary-2-normal: #f53a3a;
  --primary-2-normal-light: #ff6673;
  --light-color: #ffffff;
  --text-color: #1f2021;
  --background-color: #f7f9fa;
  --negative-color: var(--brand-color);
  --negative-color-a15: rgba(229, 67, 80, 0.15);
  --negative-background-color: #ffe8ea;
  --positive-color: #43ab5d;
  --secondary-color: #57737d;
  --secondary-light-color: #82b1c2;
  --secondary-dark-color: #325663;

  --neutral-color: #e0e0e0;
  --neutral-light-color: #f2f2f2;
  --neutral-dark-color: #bdbdbd;
  --neutral-darker-color: #828282;
  --muted-text-color: var(--neutral-darker-color);

  --gray-4-vary-light: #f2f4f5;
  --grey-3-5: #e9ebed;
  --gray-3-light: #c8cacc;
  --gray-2-normal: #717375;
  --gray-3: #717375;
  --cold-grey-4-very-light: #e6f1f5;
  --cold-grey-1-dark: #46626b;
  --cold-grey-2-normal: #738f99;
  --cold-grey-3-light: #b8d1d9;

  --good-1-dark: #029161;
  --good-2-normal: #1dbf6e;

  --filter-brand-color: brightness(0) saturate(100%) invert(49%) sepia(64%)
    saturate(6240%) hue-rotate(333deg) brightness(95%) contrast(88%);
  --filter-gray-3-light: brightness(0) saturate(100%) invert(100%) sepia(1%)
    saturate(5283%) hue-rotate(175deg) brightness(79%) contrast(102%);
  --filter-cold-grey-2-normal: brightness(0) saturate(100%) invert(58%)
    sepia(19%) saturate(403%) hue-rotate(150deg) brightness(91%) contrast(84%);
  --filter-black: brightness(0) saturate(100%) invert(0%) sepia(92%)
    saturate(7474%) hue-rotate(261deg) brightness(91%) contrast(105%);
  --filter-gray-3: brightness(0) saturate(100%) invert(49%) sepia(6%)
    saturate(166%) hue-rotate(169deg) brightness(90%) contrast(88%);
  --filter-light: invert(100%) sepia(0) saturate(0) hue-rotate(93deg)
    brightness(103%) contrast(103%);
  --filter-secondary-light: invert(78%) sepia(25%) saturate(408%)
    hue-rotate(150deg) brightness(83%) contrast(89%);
  --filter-gray-2-normal: invert(51%) sepia(0%) saturate(5142%)
    hue-rotate(279deg) brightness(85%) contrast(79%);
}
