:root {
  --color-text: #000;
  --color-text-secondary: #666;
  --color-bg: #fff;
  --color-bg-secondary: #ddd;
  --color-icon: #000;
  --color-link: blue;
  --color-success: green;
  --color-danger: red;
}