.inf-label {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  width: max-content;
  border-radius: var(--inf-border-radius-medium);
  color: var(--inf-color-text-on-color);
  font-size: var(--inf-font-size-subtitle-2);
  font-weight: var(--inf-font-weight-bold);
  line-height: normal;
  padding: var(--inf-space-xxsmall) var(--inf-space-small);

  &--variant-info {
    background-color: var(--inf-color-background-info-primary);
  }

  &--variant-error {
    background-color: var(--inf-color-background-error-primary);
  }

  &--variant-success {
    background-color: var(--inf-color-background-success-primary);
  }

  &--variant-warning {
    background-color: var(--inf-color-background-warning-primary);
  }

  &--variant-neutral {
    background-color: var(--inf-color-background-tertiary);
    color: var(--inf-color-text-secondary);
  }

  &--variant-brand {
    background-color: var(--inf-color-background-brand-primary);
  }

  &--variant-violet {
    background-color: var(--inf-color-background-violet-primary);
  }

  &--variant-teal {
    background-color: var(--inf-color-background-teal-primary);
  }

  // TODO: deprecated, use "error"
  &--variant-danger {
    background-color: #dc3053;
  }

  &__before {
    display: flex;
    margin-right: 4px;
  }
}
