.inf-label {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  width: max-content;
  border-radius: var(--inf-border-radius-medium);
  font: var(--inf-font-subtitle-2);
  padding: var(--inf-space-xxsmall);
  max-width: 100%;

  &--tone-heavy {
    color: var(--inf-color-text-on-color);

    &.inf-label--variant-info {
      background-color: var(--inf-color-background-info-primary);
    }

    &.inf-label--variant-error {
      background-color: var(--inf-color-background-error-primary);
    }
    // TODO: deprecated, use "error"
    &.inf-label--variant-danger {
      background-color: var(--inf-color-background-error-primary);
    }

    &.inf-label--variant-success {
      background-color: var(--inf-color-background-success-primary);
    }

    &.inf-label--variant-warning {
      background-color: var(--inf-color-background-warning-primary);
    }

    &.inf-label--variant-neutral {
      background-color: var(--inf-color-background-generic);
    }

    &.inf-label--variant-brand {
      background-color: var(--inf-color-background-brand-primary);
    }

    &.inf-label--variant-violet {
      background-color: var(--inf-color-background-violet-primary);
    }

    &.inf-label--variant-teal {
      background-color: var(--inf-color-background-teal-primary);
    }
  }

  &--tone-light {
    &.inf-label--variant-info {
      background-color: var(--inf-color-background-info-secondary);
      color: var(--inf-color-text-info);
    }

    &.inf-label--variant-error {
      background-color: var(--inf-color-background-error-secondary);
      color: var(--inf-color-text-error);
    }
    // TODO: deprecated, use "error"
    &.inf-label--variant-danger {
      background-color: var(--inf-color-background-error-secondary);
      color: var(--inf-color-text-error);
    }

    &.inf-label--variant-success {
      background-color: var(--inf-color-background-success-secondary);
      color: var(--inf-color-text-success);
    }

    &.inf-label--variant-warning {
      background-color: var(--inf-color-background-warning-secondary);
      color: var(--inf-color-text-warning);
    }

    &.inf-label--variant-neutral {
      background-color: var(--inf-color-background-tertiary);
      color: var(--inf-color-text-secondary);
    }

    &.inf-label--variant-brand {
      background-color: var(--inf-color-background-brand-secondary);
      color: var(--inf-color-text-brand);
    }

    &.inf-label--variant-violet {
      background-color: var(--inf-color-background-violet-secondary);
      color: var(--inf-color-text-violet);
    }

    &.inf-label--variant-teal {
      background-color: var(--inf-color-background-teal-secondary);
      color: var(--inf-color-text-teal);
    }
  }

  // TODO: deprecated, use "error"
  &--variant-danger {
    background-color: #dc3053;
  }

  &__before {
    display: flex;
  }

  &__content {
    margin-left: var(--inf-space-xxsmall);
    margin-right: var(--inf-space-xxsmall);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
