.inf-label {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  width: max-content;
  border-radius: var(--inf-border-radius-medium);
  color: var(--inf-color-text-on-color);
  font-size: var(--inf-font-size-subtitle-2);
  font-weight: var(--inf-font-weight-bold);
  line-height: normal;
  padding: var(--inf-space-xxsmall) var(--inf-space-small);
  // TODO цвета из переменных, когда будет обновлена общая палитра
  &--variant-info {
    background-color: #0564b7;
  }

  &--variant-error {
    background-color: #dc3053;
  }

  &--variant-success {
    background-color: #029161;
  }

  &--variant-warning {
    background-color: #e5790d;
  }

  &--variant-neutral {
    background-color: #a0a0a0;
  }

  &--variant-brand {
    background-color: #f64a4a;
  }

  &--variant-violet {
    background-color: #9d10d5;
  }

  &--variant-teal {
    background-color: #00a6a6;
  }

  &__before {
    display: flex;
    margin-right: 4px;
  }
}
