.inf-select {
  position: relative;
  background-color: var(--inf-color-background-base);

  &__items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid var(--inf-select-element-background-hover);
    border-top: none;
    background-color: var(--inf-color-background-base);
    width: 100%;
  }

  &__input {
    cursor: pointer;
  }

  &__item {
    display: flex;

    &--active {
      color: var(--inf-color-text-contrast);
      background-color: var(--inf-select-element-background-hover);
      cursor: pointer;
    }
  }
}
