.checkBox {
    flex-shrink: 0;

    width: 1rem;
    height: 1rem;

    cursor: pointer;

    border-radius: 3px;

    background-color: var(--light-color);
}

.unchecked {
    border: 1px solid var(--gray-3-light);
}

.unchecked:hover:not(.disabled) {
    border: 1px solid var(--cold-grey-2-normal);
}

.checked {
    background: var(--primary-2-normal) url("../../../icons/checkWhite.svg") center;
}

.checked:hover:not(.disabled) {
    background: var(--primary-2-normal-light) url("../../../icons/checkWhite.svg") center;
}

.indeterminate {
    background: var(--primary-2-normal) url("../../../icons/indeterminateWhite.svg") center;
}

.indeterminate:hover:not(.disabled) {
    background: var(--primary-2-normal-light) url("../../../icons/indeterminateWhite.svg") center;
}

.disabled {
    cursor: default;

    border: 1px solid var(--gray-3-light);
    background: var(--gray-4-vary-light);
}
