:root {
  /* Spacing */
  --inf-space-xxsmall: 4px;
  --inf-space-xsmall: 8px;
  --inf-space-small: 12px;
  --inf-space-medium: 16px;
  --inf-space-large: 24px;
  --inf-space-xlarge: 32px;
  --inf-space-xxlarge: 48px;
  --inf-space-xxxlarge: 72px;

  // TODO: remove
  --inf-spacing-xsmall: 4px;
  --inf-spacing-small: 8px;
  --inf-spacing-medium: 16px;
  --inf-spacing-large: 24px;
  --inf-spacing-xlarge: 32px;
  --inf-spacing-xxlarge: 48px;
  --inf-spacing-xxxlarge: 72px;

  --inf-container-width-xsmall: 448px;
  --inf-container-width-small: 684px;
  --inf-container-width-medium: 920px;
  --inf-container-width-large: 1200px;
  --inf-container-width-xlarge: 1392px;

  /* Box-shadow */
  --inf-box-shadow-small: -1px 4px 3px rgba(10, 62, 102, 0.1),
    -5px 0px 10px rgba(10, 51, 102, 0.1);
  --inf-box-shadow-medium: 0px 4px 30px 0px rgba(0, 0, 0, 0.1),
    0px 0px 10px 0px rgba(0, 0, 0, 0.1);

  /* Border-width */
  --inf-border-width-default: 1px;
  --inf-border-width-thick: 2px;

  /* Border-radius */
  --inf-border-radius-xsmall: 4px;
  --inf-border-radius-small: 8px;
  --inf-border-radius-medium: 16px;
  --inf-border-radius-large: 24px;

  --inf-border-focus: 2px solid var(--inf-color-border-focus);

  /* Z-index */
  --inf-z-index-header: 100;
  --inf-z-index-footer: 100;
  --inf-z-index-bottom-bar: 100;
  --inf-z-index-modal: 150;
  --inf-z-index-popover: 200;
  --inf-z-index-tooltip: 200;
  --inf-z-index-dropdown: 200;
  --inf-z-index-notification: 200;

  /* TBD */
  --inf-control-height-large: 48px;
  --inf-control-height-medium: 40px;
  --inf-control-height-small: 32px;
  --inf-spacing-checked-group: 2px;
}
