/* Naming formula: --p-color-element-role-variant-state */

:root {
  /* Base */
  --inf-color-gray-100: #f7f9fa;
  --inf-color-gray-200: #dddedf;
  --inf-color-gray-300: #adaeaf;
  --inf-color-gray-400: #8e8f90;
  --inf-color-gray-500: #707273;
  --inf-color-gray-600: #545556;
  --inf-color-gray-700: #373839;
  --inf-color-gray-800: #1f2021;

  --inf-color-blue-100: #e6f9ff;
  --inf-color-blue-200: #bedee8;
  --inf-color-blue-300: #9cbac4;
  --inf-color-blue-400: #7d9ba5;
  --inf-color-blue-500: #607d86;
  --inf-color-blue-600: #46626b;
  --inf-color-blue-700: #29444d;

  --inf-color-red-100: #fff6f5;
  --inf-color-red-200: #ffd6d1;
  --inf-color-red-300: #ffb5ac;
  --inf-color-red-400: #ff9086;
  --inf-color-red-500: #f53a3a;
  --inf-color-red-600: #d0001b;

  --inf-color-green-100: #e8fff2;
  --inf-color-green-200: #89f9c2;
  --inf-color-green-300: #67d7a3;
  --inf-color-green-400: #40b481;
  --inf-color-green-500: #029161;
  --inf-color-green-600: #006945;

  --inf-color-orange-100: #fff6f4;
  --inf-color-orange-200: #ffdcd1;
  --inf-color-orange-300: #ffbba7;
  --inf-color-orange-400: #ff9273;
  --inf-color-orange-500: #fc673a;
  --inf-color-orange-600: #dd4a18;

  --inf-color-yellow-100: #fff7ec;
  --inf-color-yellow-200: #ffe0ae;
  --inf-color-yellow-300: #ffc256;
  --inf-color-yellow-400: #e6a302;
  --inf-color-yellow-500: #c28900;

  --inf-color-black: #1f2021;
  --inf-color-white: #fff;

  /* Semantic */
  --inf-color-primary: var(--inf-color-red-500);
  --inf-color-primary-hover: var(--inf-color-red-400);
  --inf-color-primary-active: var(--inf-color-red-600);

  --inf-color-secondary: var(--inf-color-blue-600);
  --inf-color-secondary-hover: var(--inf-color-blue-500);
  --inf-color-secondary-active: var(--inf-color-blue-700);

  --inf-color-success: var(--inf-color-green-500);
  --inf-color-danger: var(--inf-color-orange-500);
  --inf-color-warning: var(--inf-color-yellow-500);

  /* Text */
  --inf-color-text-primary: var(--inf-color-gray-800);
  --inf-color-text-secondary: var(--inf-color-gray-500);
  --inf-color-text-tertiary: var(--inf-color-gray-300);
  --inf-color-text-disabled: var(--inf-color-gray-300);
  --inf-color-text-inverse: var(--inf-color-white);
  // --inf-color-text-inverse-secondary: #ccc;
  --inf-color-text-link: var(--inf-color-blue-500);
  --inf-color-text-link-hover: var(--inf-color-blue-600);
  --inf-color-text-link-disabled: var(--inf-color-blue-300);

  --inf-color-text-success: var(--inf-color-success);
  --inf-color-text-warning: var(--inf-color-warning);
  --inf-color-text-danger: var(--inf-color-danger);
  --inf-color-text-on-color: var(--inf-color-white);

  --inf-color-text: #6E6E6E;

  --inf-color-text-info: #0564b7;
  --inf-color-text-info-disabled: #a2c6e4;

  --inf-color-text-error: #DC3053;

  --inf-color-text-success: #1F803D;

  --inf-color-text-warning: #E5790D;

  --inf-color-text-violet: #9D10D5;

  --inf-color-text-teal: #00A6A6;

  /* Icon */
  --inf-color-icon: var(--inf-color-gray-800);
  --inf-color-icon-secondary: var(--inf-color-gray-300);
  --inf-color-icon-inverse: var(--inf-color-white);

  /* Background */
  --inf-color-background-body: var(--inf-color-white);
  --inf-color-background-default: var(--inf-color-white);
  --inf-color-background-secondary: var(--inf-color-gray-100);
  --inf-color-background-inverse: var(--inf-color-gray-800);
  --inf-color-background-hover: var(--inf-color-gray-100);
  --inf-color-background-selected: var(--inf-color-blue-400);
  --inf-color-background-disabled: var(--inf-color-gray-100);
  --inf-color-background-neutral: var(--inf-color-gray-300);
  --inf-color-background-info: var(--inf-color-blue-500);
  --inf-color-bg-secondary: #F1F1F1;
  --inf-color-bg-info-secondary: #eef4fa;
  --inf-color-bg-error-secondary: #FDF1F3;
  --inf-color-bg-success-secondary: #EFF6F1;
  --inf-color-bg-warning-secondary: #FDF6EE;
  --inf-color-bg-violet-secondary: #F8EEFC;
  --inf-color-bg-teal-secondary: #EDF9F9;
  --inf-color-background-danger: var(--inf-color-orange-500);
  --inf-color-background-success: var(--inf-color-green-500);
  --inf-color-background-warning: #ffc256; // TODO: внести в палитру
  --inf-color-background-button-primary: #f64a4a; // TODO: использовать токены цветов
  --inf-color-background-button-primary-hover: #e04545;
  --inf-color-background-button-primary-active: #c73f3f;
  --inf-color-background-button-primary-disabled: #fbaaaa;
  --inf-color-background-button-secondary: #eef4fa;
  --inf-color-background-button-secondary-hover: #d4e5f3;
  --inf-color-background-button-secondary-active: #bcd5ec;

  /* Border */
  --inf-color-border-default: var(--inf-color-gray-200); // -primary ?
  // TBD
  --inf-color-border-secondary: var(--inf-color-gray-200);
  --inf-color-border-danger: var(--inf-color-danger);
  --inf-color-border-focus: #7abfff;
  --inf-color-border-hover: var(--inf-color-gray-800);
  --inf-color-border-active: var(--inf-color-gray-800);
  // TODO: почему акцентный? как будто выбивается из нейминга
  --inf-color-border-accent: var(--inf-color-primary);
  // inf-color-border-selected?

  /* ---------- TDB ---------- */
  --inf-color-text-control: #46626b;
  --inf-color-border-focused: #46626b;
  --inf-control-color-border-active: #738f99;
  --inf-control-background-color-hover: #e6f1f5;
  --inf-color-text-quaternary: #c8cacc;
  --inf-color-background-control-disabled: var(
    --inf-color-background-secondary
  );
  // --inf-color-control-active: var(--inf-color-primary); TODO: нужен?
}
