:root {
  /* Checkbox */
  --inf-checkbox-color-border: var(--inf-color-gray-800);
  --inf-checkbox-color-border-hover: var(--inf-control-color-border-active);
  --inf-checkbox-color-border-active: var(--inf-control-color-border-active);

  --inf-checkbox-color-background: var(--inf-color-bg-primary);
  --inf-checkbox-color-background-active: #b8d1d9;
  --inf-checkbox-color-background-disabled: var(
    --inf-color-background-control-disabled
  );

  --inf-checkbox-checked-color-background: var(--inf-color-bg-brand-primary);
  --inf-checkbox-checked-color-background-hover: #ff6673;
  --inf-checkbox-checked-color-background-active: #cc2d32;
  --inf-checkbox-checked-color-background-disabled: var(--inf-color-red-200);

  /* Radio */
  --inf-radio-color-border: var(--inf-color-gray-800);
  --inf-radio-color-border-hover: var(--inf-control-color-border-active);
  --inf-radio-color-border-active: var(--inf-control-color-border-active);
  --inf-radio-color-border-disabled: var(--inf-color-border-default);

  --inf-radio-color-background-hover: #e6f1f5;
  --inf-radio-color-background-active: #b8d1d9;
  --inf-radio-color-background-checked: #f53a50;
  --inf-radio-color-background-checked-disabled: var(--inf-color-gray-200);
}
