:root {
  /* Scrollbar */
  --inf-scrollbar-thumb-color-background: var(--inf-color-border-primary);
  --inf-scrollbar-track-color-background: var(--inf-color-background-primary);
  --inf-scrollbar-track-color-background-hover: var(--inf-color-border-secondary);
}
