.inf-header-nav-item {
  display: inline-flex;
  align-items: center;
  font: var(--inf-font-subtitle-2);
  color: var(--inf-color-text-secondary);
  padding: var(--inf-space-xsmall);
  text-decoration: none;
  cursor: pointer;
  height: 100%;
  transition: color 0.2s;
  border-bottom: 2px solid transparent;

  @include hover-active {
    color: var(--inf-color-text-primary);
  }

  &--active {
    color: var(--inf-color-text-primary);
    border-bottom-color: var(--inf-color-background-brand-primary);
  }

  &__arrow {
    display: inline-flex;
    margin-left: var(--inf-space-xsmall);
  }

  &__submenu-dropdown {
    padding-top: var(--inf-space-xxsmall);
    padding-bottom: var(--inf-space-xxsmall);
  }
}
