.inf-card {
  background-color: var(--inf-color-background-primary);
  display: block;
  transition: border-color 0.2s;

  &--size-small {
    padding: var(--inf-space-medium);
    border-radius: var(--inf-border-radius-small);
  }

  &--size-medium {
    padding: var(--inf-space-large);
    border-radius: var(--inf-border-radius-medium);
  }

  &--size-large {
    padding: var(--inf-space-xlarge);
    border-radius: var(--inf-border-radius-medium);
  }

  &--variant-raised {
    box-shadow: var(--inf-box-shadow-medium);
    background-color: var(--inf-color-background-elevated);
  }

  &--variant-shadow {
    // TODO: deprecated
    box-shadow: var(--inf-box-shadow-medium);
    background-color: var(--inf-color-background-elevated);
  }

  &--variant-outline {
    border: 1px solid var(--inf-color-border-primary);
  }

  &--outline-danger {
    border: 2px solid var(--inf-color-border-error);
  }

  &--hoverable {
    @include hover {
      border-color: var(--inf-color-border-primary-hover);
    }
  }

  &--disabled {
    background-color: var(--inf-color-background-secondary);
    border-color: var(--inf-color-border-primary); // TODO: взять токен border
    cursor: not-allowed;

    @include hover {
      border-color: var(--inf-color-border-primary);
    }
  }
}
