.inf-space {
  display: flex;

  &--direction-vertical {
    flex-direction: column;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--full-width {
    width: 100%;
  }

  &--gap-xsmall {
    gap: var(--inf-spacing-xsmall);
  }

  &--gap-small {
    gap: var(--inf-spacing-small);
  }

  &--gap-medium {
    gap: var(--inf-spacing-medium);
  }

  &--gap-large {
    gap: var(--inf-spacing-large);
  }

  &--gap-xlarge {
    gap: var(--inf-spacing-xlarge);
  }

  &--gap-xxlarge {
    gap: var(--inf-spacing-xxlarge);
  }

  &--gap-xxxlarge {
    gap: var(--inf-spacing-xxxlarge);
  }

  &--align-baseline {
    align-items: baseline;
  }

  &--align-stretch {
    align-items: stretch;
  }

  &--align-start {
    align-items: start;
  }

  &--align-end {
    align-items: end;
  }

  &--align-center {
    align-items: center;
  }

  &--justify-center {
    justify-content: center;
  }

  &--justify-start {
    justify-content: start;
  }

  &--justify-end {
    justify-content: end;
  }

  &--justify-space-between {
    justify-content: space-between;
  }

  &--justify-space-around {
    justify-content: space-around;
  }

  &--justify-stretch {
    justify-content: stretch;
  }
}
