.inf-space {
  display: flex;

  &--direction-vertical {
    flex-direction: column;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--full-width {
    width: 100%;
  }

  &--gap-xxsmall {
    gap: var(--inf-space-xxsmall);
  }

  &--gap-xsmall {
    gap: var(--inf-space-xsmall);
  }

  &--gap-small {
    gap: var(--inf-space-small);
  }

  &--gap-medium {
    gap: var(--inf-space-medium);
  }

  &--gap-large {
    gap: var(--inf-space-large);
  }

  &--gap-xlarge {
    gap: var(--inf-space-xlarge);
  }

  &--gap-xxlarge {
    gap: var(--inf-space-xlarge);
  }

  &--align-baseline {
    align-items: baseline;
  }

  &--align-start {
    align-items: start;
  }

  &--align-end {
    align-items: end;
  }

  &--align-center {
    align-items: center;
  }

  &--justify-center {
    justify-content: center;
  }

  &--justify-start {
    justify-content: start;
  }

  &--justify-end {
    justify-content: end;
  }

  &--justify-space-between {
    justify-content: space-between;
  }

  &--justify-space-around {
    justify-content: space-around;
  }
}
