.inf-icon {
  // TODO: вынести размеры в глобальные токены

  &--size-medium {
    width: 20px;
    height: 20px;
  }

  &--size-small {
    width: 16px;
    height: 16px;
  }

  &--size-large {
    width: 24px;
    height: 24px;
  }

  &--color-primary {
    color: var(--inf-color-icon-primary);
  }

  &--color-primary-hover {
    color: var(--inf-color-icon-primary-hover);
  }

  &--color-primary-disabled {
    color: var(--inf-color-icon-primary-disabled);
  }

  &--color-secondary {
    color: var(--inf-color-icon-secondary);
  }

  &--color-inverse {
    color: var(--inf-color-icon-inverse);
  }

  &--color-on-color {
    color: var(--inf-color-icon-on-color);
  }

  &--color-error {
    color: var(--inf-color-icon-error);
  }

  &--color-warning {
    color: var(--inf-color-icon-warning);
  }

  &--color-success {
    color: var(--inf-color-icon-success);
  }

  &--color-info {
    color: var(--inf-color-icon-info);
  }

  &--color-info-disabled {
    color: var(--inf-color-icon-info-disabled);
  }

  &--color-violet {
    color: var(--inf-color-icon-violet);
  }

  &--color-teal {
    color: var(--inf-color-icon-teal);
  }
}
