.inf-date-range-calendar-days {
  &__week {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(7, 32px);
    grid-template-rows: 32px;
    gap: 4px 0;
    font: var(--inf-font-body-1);

    &--hovered {
      background-color: var(--inf-color-background-float-hover);
      border-radius: 0;

      @include hover {
        border-radius: var(--inf-border-radius-small);
      }
    }

    &--picked {
      background-color: white;
      outline-style: solid;
      outline-width: 1px;
      outline-color: var(--inf-color-background-brand-primary);
      border-radius: var(--inf-border-radius-small);
      background-color: #fef2f2; // TODO: токен

      @include hover {
        background-color: var(--inf-color-background-float-hover);
      }
    }
  }

  &__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;

    &--hoverable {
      @include hover {
        border-radius: var(--inf-border-radius-small);
        background-color: var(--inf-color-background-float-hover);
      }
    }

    &--hovered {
      background-color: var(--inf-color-background-float-hover);
      border-radius: 0;

      @include hover {
        border-radius: 0;
      }
    }

    &--prev-month,
    &--next-month {
      color: var(--inf-color-text-secondary);

      @include hover {
        background-color: var(--inf-color-background-primary-hover);
      }
    }

    &--from {
      color: var(--inf-color-text-inverse);
      background-color: var(--inf-color-background-brand-primary);
      border-radius: var(--inf-border-radius-small) 0 0
        var(--inf-border-radius-small);

      @include hover {
        background-color: var(--inf-color-background-brand-primary);
      }
    }

    &--to {
      color: var(--inf-color-text-inverse);
      background-color: var(--inf-color-background-brand-primary);
      border-radius: 0 var(--inf-border-radius-small)
        var(--inf-border-radius-small) 0;

      @include hover {
        background-color: var(--inf-color-background-brand-primary);
      }
    }

    &--one-day-interval {
      background-color: var(--inf-color-background-brand-primary);
      border-radius: var(--inf-border-radius-small);
    }

    &--empty {
      cursor: unset;
      pointer-events: none;
      background-color: transparent;

      @include hover {
        background-color: transparent;
      }

      &.inf-date-range-calendar-days__item--hovered {
        background-color: transparent;
      }
    }

    &--disabled {
      pointer-events: none;
      opacity: 50%;
    }
  }
}
