.inf-form-label {
  flex-shrink: 0;
  color: var(--inf-color-text-secondary);

  &__required-indicator {
    color: var(--inf-color-text-brand);
    margin-left: var(--inf-space-xxsmall);
    font-family: initial;
  }
}
