.inf-tab {
  @include button-reset;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  display: inline-flex;
  gap: var(--inf-space-xsmall);
  align-items: center;
  position: relative;
  color: var(--inf-color-text-secondary);
  transition: color 0.2s;

  @include hover {
    color: var(--inf-color-text-primary);
  }

  &--active {
    color: var(--inf-color-text-primary);
  }

  &--disabled {
    color: var(--inf-color-text-tertiary);
    pointer-events: none;
  }

  &--size-medium {
    font: var(--inf-font-subtitle-2);
    padding: var(--inf-space-xsmall) var(--inf-space-small);
  }

  &--size-small {
    font: var(--inf-font-subtitle-3);
    padding: var(--inf-space-xxsmall) var(--inf-space-xsmall);
  }

  &__underline {
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: var(--inf-color-background-brand-primary);
    display: block;
    height: 2px;
    width: 100%;
  }

  &__icon {
    display: flex;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  // // хак чтобы при увеличении жирности текста при ховере элемент не сдвигал соседние элементы в лейауте
  // // https://css-tricks.com/bold-on-hover-without-the-layout-shift/
  // &::after {
  //   content: attr(data-text);
  //   content: attr(data-text) / '';
  //   height: 0;
  //   visibility: hidden;
  //   overflow: hidden;
  //   user-select: none;
  //   pointer-events: none;
  //   font-weight: var(--inf-font-weight-bold);

  //   @media speech {
  //     display: none;
  //   }
  // }
}
