.inf-calendar-days {
  &__week {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(7, 32px);
    grid-template-rows: 32px;
    gap: 4px 0;
    font: var(--inf-font-body-1);
  }
}
