.inf-divider {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  text-align: center;

  --border-color: var(--inf-color-border-default);
  --border-width: var(--inf-border-width-default);

  &::before {
    margin-right: 0;
    margin-bottom: 0;
  }

  &::after {
    margin-top: 0;
    margin-left: 0;
  }

  &--orientation-horizontal {
    flex-direction: row;
    width: 100%;

    &::before,
    &::after {
      content: '';
      min-width: 8px;
      border-top-width: var(--border-width);
      border-top-style: solid;
      border-top-color: var(--border-color);
      border-bottom-color: var(--border-color);
      border-left-color: var(--border-color);
      border-right-color: var(--border-color);
      display: flex;
      flex-grow: 1;
    }

    &.inf-divider--has-content {
      &:before {
        margin-right: var(--inf-space-xxsmall);
      }

      &:after {
        margin-left: var(--inf-space-xxsmall);
      }
    }
  }

  &--orientation-vertical {
    min-height: 20px;
    flex-direction: column;
    align-self: stretch; // grid-compatibility

    &::before,
    &::after {
      content: '';
      min-height: 8px;
      border-right-width: var(--border-width);
      border-right-style: solid;
      border-right-color: var(--border-color);
      border-bottom-color: var(--border-color);
      border-left-color: var(--border-color);
      border-right-color: var(--border-color);
      height: 100%;
    }

    &.inf-divider--has-content {
      &:before {
        margin-bottom: var(--inf-space-xxsmall);
      }

      &:after {
        margin-top: var(--inf-space-xxsmall);
      }
    }
  }
}
