.inf-text-field {
  --input-default-border-color: var(--inf-color-border-primary);

  border: 1px solid var(--input-default-border-color);
  transition: border-color 0.2s;
  font: var(--inf-font-body-1);
  width: 100%;
  color: var(--inf-color-text-primary);

  input::placeholder,
  &::placeholder {
    color: var(--inf-color-text-tertiary);
  }

  @include hover {
    &:not(.inf-text-field--status-error):not(.inf-text-field--readonly) {
      border-color: var(--inf-color-border-primary-hover);
    }
  }

  &:focus,
  &:focus-visible,
  &--focused {
    &:not(.inf-text-field--status-error) {
      border-color: var(--inf-color-border-primary-hover);
    }
  }

  &:disabled,
  &--disabled {
    background-color: var(--inf-color-background-tertiary);
    color: var(--inf-color-text-tertiary);
    pointer-events: none;
  }

  &--readonly {
    background-color: var(--inf-color-background-tertiary);
  }

  &--no-border {
    border: none;
  }

  &--br-regular {
    border-radius: var(--inf-border-radius-small);
  }

  &--status-error {
    border-color: var(--inf-color-border-error);
  }

  &--size-medium {
    height: var(--inf-control-height-medium);
    padding: var(--inf-space-xsmall) var(--inf-space-small);
  }

  &--size-small {
    font: var(--inf-font-body-2);
    height: var(--inf-control-height-small);
    padding: var(--inf-space-xxsmall) var(--inf-space-small);
  }
}
