.inf-text-field {
  border: 1px solid var(--inf-color-border-default);
  background-color: var(--inf-color-background-default);
  transition: border-color 0.2s;
  font: var(--inf-font-body-1);
  width: 100%;

  input::placeholder,
  &::placeholder {
    color: var(--inf-color-text-tertiary);
  }

  @include hover {
    border-color: var(--inf-color-border-hover);
  }

  &:focus,
  &:focus-visible,
  &--focused {
    border-color: var(--inf-color-border-active);
  }

  &:disabled,
  &--disabled {
    background-color: var(--inf-color-background-disabled);
    pointer-events: none;
    border-color: transparent !important;
    color: var(--inf-color-text-disabled);
  }

  &--no-border {
    border: none;
  }

  &--br-regular {
    border-radius: var(--inf-border-radius-small);
  }

  &--status-error {
    border-color: var(--inf-color-border-danger);

    @include hover {
      border-color: var(--inf-color-border-danger);
    }

    &:focus {
      border-color: var(--inf-color-border-danger);
    }
  }

  &--size-medium {
    height: var(--inf-control-height-medium);
    padding: var(--inf-space-xsmall) var(--inf-space-medium);
  }

  &--size-small {
    font: var(--inf-font-body-2);
    height: var(--inf-control-height-small);
    padding: var(--inf-space-xxsmall) var(--inf-space-medium);
  }
}
