.inf-table-filter-popover {
  &__button {
    height: 20px;
    width: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
    position: relative;
    // увеличиваем область клика
    &::after {
      content: '';
      position: absolute;
      inset: -8px -2px;
    }

    @include hover {
      .inf-table-filter-popover__icon {
        &:not(.inf-table-filter-popover__icon--active) {
          color: var(--inf-color-icon-primary-hover);
        }
      }
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    color: var(--inf-color-icon-primary);

    &--active {
      color: var(--inf-color-icon-info);
    }
  }
}
