.inf-heading {
  &--level-1 {
    font: var(--inf-font-h1);

    &.inf-heading--has-margin {
      margin-bottom: 40px;
    }
  }

  &--level-2 {
    font: var(--inf-font-h2);

    &.inf-heading--has-margin {
      margin-bottom: 24px;
    }
  }

  &--level-3 {
    font: var(--inf-font-h3);

    &.inf-heading--has-margin {
      margin-bottom: 16px;
    }
  }

  &--level-4 {
    font: var(--inf-font-h4);

    &.inf-heading--has-margin {
      margin-bottom: 12px;
    }
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--truncated {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &--align-center {
    text-align: center;
  }

  &--align-left {
    text-align: left;
  }

  &--align-right {
    text-align: right;
  }

  // &--weight-light {
  //   font-weight: var(--inf-font-weight-light);
  // }

  // &--weight-normal {
  //   font-weight: var(--inf-font-weight-normal);
  // }

  // &--weight-bold {
  //   font-weight: var(--inf-font-weight-bold);
  // }

  // &--weight-extrabold {
  //   font-weight: var(--inf-font-weight-extrabold);
  // }
}
