.inf-heading {
  font-family: var(--inf-font-family-base);

  &--level-1 {
    font-size: var(--inf-heading-level-1-size);
    line-height: var(--inf-heading-level-1-size);

    &.inf-heading--has-margin {
      margin-bottom: 40px;
    }
  }

  &--level-2 {
    font-size: var(--inf-heading-level-2-size);

    &.inf-heading--has-margin {
      margin-bottom: 24px;
    }
  }

  &--level-3 {
    font-size: var(--inf-heading-level-3-size);

    &.inf-heading--has-margin {
      margin-bottom: 16px;
    }
  }

  &--level-4 {
    font-size: var(--inf-heading-level-4-size);

    &.inf-heading--has-margin {
      margin-bottom: 12px;
    }
  }

  &--level-5 {
    font-size: var(--inf-heading-level-5-size);

    &.inf-heading--has-margin {
      margin-bottom: 12px;
    }
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--truncated {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &--align-center {
    text-align: center;
  }

  &--align-left {
    text-align: left;
  }

  &--align-right {
    text-align: right;
  }

  &--weight-light {
    font-weight: var(--inf-font-weight-light);
  }

  &--weight-normal {
    font-weight: var(--inf-font-weight-normal);
  }

  &--weight-bold {
    font-weight: var(--inf-font-weight-bold);
  }

  &--weight-extrabold {
    font-weight: var(--inf-font-weight-extrabold);
  }
}
