.inf-modal-container {
  background-color: rgba(0, 0, 0, 0.7);
  display: grid;
  place-items: center;
  z-index: var(--inf-z-index-modal);
  transition-property: opacity;
  padding: 18px 0;

  &[data-status='open'],
  &[data-status='close'] {
    transition-duration: 250ms;
  }

  &[data-status='initial'],
  &[data-status='close'] {
    opacity: 0;
  }
}

.inf-modal {
  background-color: #fff;
  border: 1px solid #c8cacc;
  border-radius: 10px;
  position: relative;
  max-width: 95vw;

  &--size-small {
    width: 453px;
  }

  &--size-medium {
    width: 885px;
  }

  &--size-large {
    width: 1200px;
  }

  &--size-full {
    width: 100%;
  }

  &__close-btn {
    margin: -12px;
    position: absolute;
    top: 24px;
    right: 24px;
  }

  &--appear,
  &--enter {
    opacity: 0;
  }

  &--appear-active,
  &--enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
  }

  &--exit {
    opacity: 1;
  }

  &--exit-active,
  &--exix-done {
    opacity: 0;
    transition: opacity 200ms ease-out;
  }
}
