.inf-modal {
  background-color: rgba(0, 0, 0, 0.7);
  display: grid;
  place-items: center;
  z-index: var(--inf-z-index-modal);

  &__card {
    margin: 12px;
    background-color: #fff;
    border: 1px solid #c8cacc;
    border-radius: 10px;
    position: relative;
    max-width: 95%;

    &--size-small {
      width: 453px;
    }

    &--size-medium {
      width: 670px;
    }

    &--size-large {
      width: 885px;
    }
  }

  &--appear,
  &--enter {
    opacity: 0;
  }

  &--appear-active,
  &--enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
  }

  &--exit {
    opacity: 1;
  }

  &--exit-active,
  &--exix-done {
    opacity: 0;
    transition: opacity 200ms ease-out;
  }
}
