.inf-side-nav-item {
  display: block;
  font-size: var(--inf-text-size-large);
  padding: var(--inf-space-xsmall) var(--inf-space-medium);
  transition: background-color 0.2s;
  position: relative;

  @include hover-active {
    background-color: var(--inf-color-background-primary-hover);
  }

  &--active {
    &::before {
      content: '';
      border-left: 3px solid var(--inf-color-background-brand-primary);
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
    }
  }
}
