.inf-side-nav-item {
  border: 1px solid red;
  display: block;
  font-size: var(--inf-font-size-medium);
  padding: 7px 12px;
  transition: background-color 0.2s;

  @include hover-active {
    background-color: var(--inf-control-background-color-hover);
  }

  &--active {
    border-left: 2px solid var(--inf-color-primary);
  }
}
