.inf-select-button {
  position: relative;
  cursor: pointer;
  user-select: none;
  appearance: none;
  text-align: left;
  padding: 7px 28px 7px var(--inf-space-small);
  line-height: 18px;
  height: var(--inf-control-height-medium);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &__arrow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: var(--inf-color-icon-primary);

    svg {
      width: 20px;
      height: 20px;
    }

    &--active {
      color: var(--inf-color-icon-primary);
    }

    &--disabled {
      color: var(--inf-color-text-tertiary);
    }
  }

  &--loading {
    pointer-events: none;
    cursor: default;
  }

  &__clear {
    cursor: pointer;
    position: absolute;
    display: inline-flex;
    top: 25%;
    right: 30px;
    color: var(--inf-color-icon-primary);

    @include hover {
      color: var(--inf-color-icon-primary-hover);
    }

    svg {
      width: 20px;
      height: 20px;
    }

    &--disabled {
      cursor: default;
      color: var(--inf-color-text-tertiary);
    }
  }
}
