.inf-select-button {
  position: relative;
  cursor: pointer;
  user-select: none;
  appearance: none;
  text-align: left;
  background-color: var(--inf-color-bg-primary);
  padding: 7px 28px 7px var(--inf-space-small);
  line-height: 18px;
  height: var(--inf-control-height-medium);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &__arrow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;

    &--active {
      color: var(--inf-color-icon-primary);
    }

    &--disabled {
      color: var(--inf-color-icon-primary-disabled);
    }
  }
}
