@import "../../styles/variables.css";
@import "../../styles/colors.css";

.popover {
    position: relative;
    /*z-index: 100;*/

    width: 100%;
    height: 100%;
}

.icon {
    position: absolute;

    top: 0.25rem;
    right: 0;

    width: 1.25rem;
    height: 1.25rem;

    background: url("../../../icons/chevronDown.svg") no-repeat center;
    filter: var(--filter-gray-3-light);
}

.invertedIcon {
    transform: rotate(180deg);
}

.trigger {
    position: relative;

    width: 100%;
    height: 100%;
    padding: 0.5rem;

    text-align: left;

    color: var(--gray-2-normal);

    border: solid 1px;
    border-color: var(--gray-3-light);
    border-radius: 0.25rem;

    background-color: var(--light-color);
}

.triggerTitle {
    overflow: hidden;

    width: calc(100% - 1.25rem);

    white-space: nowrap;
    text-overflow: ellipsis;
}

.placeholder {
    color: var(--gray-3-light);
}

.hint {
    position: absolute;

    z-index: 100;

    top: 2.1rem;
    left: -2rem;

    display: none;

    max-width: 35rem;
    height: content-box;

    padding: 0.4rem;

    text-align: left;

    border-radius: 5px;

    background-color: var(--light-color);

    -webkit-box-shadow: 0 3px 10px 2px rgba(3, 3, 4, 0.26);
    box-shadow: 0 3px 10px 2px rgba(3, 3, 4, 0.26);
}

@keyframes showHint {
    0%, 60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.trigger:hover .hint {
    display: block;

    animation: showHint 1s forwards;
}

.searchContainer {
    width: 100%;
}

.searchInput {
    overflow: hidden;

    margin-left: 0.4rem;
    padding: 0.4rem 2rem 0.2rem 1.5rem;

    white-space: nowrap;

    text-overflow: ellipsis;

    background: url("../../../icons/searchLightGray.svg") no-repeat left;
}

.searchInput::placeholder {
    color: var(--gray-3-light);
}

.breakLine {
    width: 100%;
    height: 1px;

    background-color: var(--gray-3-light);
}

.message {
    padding: 0.4rem;
}

.dropdownContainer {
    z-index: 1000;
}

.drop {
    display: flex;
    flex-direction: column;

    width: 100%;

    padding: 0 0 0.125rem;

    background-color: var(--light-color);
}

.dropShadow {
    max-height: 24rem;

    border: 1px solid var(--gray-4-vary-light);
    border-radius: 0.25rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 10px 20px rgba(0, 0, 0, 0.075), 0 4px 8px rgba(0, 0, 0, 0.09), 0 2px 3px rgba(0, 0, 0, 0.15);
}

.options {
    width: 100%;
    padding: 0.2rem 0;
}

.option {
    width: 100%;
    padding: 0.25rem 0.5rem;

    text-align: left;
}

.option:hover {
    background-color: var(--cold-grey-4-very-light);
}
