.inf-list-item {
  display: flex;
  align-items: center;
  border-radius: 0;
  padding: 7px 12px;
  cursor: pointer;

  &__collapse-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    color: #607880;
    transform: rotate(-90deg);

    svg {
      width: 16px;
      height: 16px;
    }

    &--rotate {
      transform: unset;
    }
  }

  &:hover {
    background-color: var(--inf-control-background-color-hover);
  }

  &--disabled {
    color: #717375;
    pointer-events: none;
  }

  &--nested {
    padding-left: 36px;
  }

  &--br-regular {
    border-radius: var(--inf-border-radius-medium);
  }
}
