@import "../../styles/variables.css";
@import "../../styles/colors.css";

.body {
    position: relative;

    display: flex;
    flex-wrap: nowrap;

    width: 100%;
    height: 3rem;
}

.dateDay {
    color: var(--gray-3-light);
}

.dateDayOff {
    color: var(--gray-3-light);
    background-color: var(--gray-4-vary-light);
}

.dateChooseDate {
    background-color: var(--cold-grey-4-very-light);
}

.dateChooseDate .dateNumber {
    color: var(--cold-grey-1-dark);
}

.dateChooseDate .dateDay {
    color: var(--cold-grey-2-normal);
}

.btn {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
}

.body > .btn {
    border: 1px solid var(--gray-3-light);
    border-right: none;
}

.btn:disabled {
    cursor: default;
}

.btn:not(:disabled):hover {
    background-color: var(--neutral-color);
}

.body > .btn:last-child {
    border-right: 1px solid var(--gray-3-light);
}

.leftIcon {
    display: inline-block;

    width: 20px;
    height: 20px;

    background: url("../../../icons/chevronLeft.svg");
    filter: invert(11%) sepia(10%) saturate(182%) hue-rotate(169deg) brightness(90%) contrast(94%);
}

.rightIcon {
    display: inline-block;

    width: 20px;
    height: 20px;

    background: url("../../../icons/chevronRight.svg");
    filter: invert(11%) sepia(10%) saturate(182%) hue-rotate(169deg) brightness(90%) contrast(94%);
}
