.inf-modal-close {
  background: none;
  border: none;
  margin: -12px;
  padding: 12px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  color: #738f99;

  &__icon {
    width: 24px;
    height: 24px;
  }
}
