.inf-modal-close {
  display: flex;
  background: none;
  border: none;
  margin: -12px;
  padding: 12px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  color: var(--inf-color-text-secondary);
  transition: color 0.2s;

  &:hover {
    color: var(--inf-color-text-tertiary);
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}
