.inf-checkbox {
  display: inline-flex;
  align-items: baseline;
  position: relative;
  cursor: pointer;

  &--disabled {
    color: var(--inf-color-text-disabled);
    pointer-events: none;
  }

  &:hover {
    &
      input[type='checkbox']
      ~ .inf-checkbox__box:not(.inf-checkbox__box--disabled) {
      border-color: var(--inf-color-primary);
    }

    & input[type='checkbox']:checked ~ .inf-checkbox__box {
      border-color: transparent;
      background-color: var(--inf-checkbox-checked-color-background-hover);
    }
  }

  &:active {
    &
      input[type='checkbox']
      ~ .inf-checkbox__box:not(.inf-checkbox__box--disabled) {
      border-color: var(--inf-checkbox-color-border-active);
      background-color: var(--inf-checkbox-color-background-active);

      svg:not(
          .inf-checkbox
            input[type='checkbox']:checked
            ~ .inf-checkbox__box:not(.inf-checkbox__box--disabled)
            svg
        ) {
        visibility: hidden;
      }
    }

    & input[type='checkbox']:checked ~ .inf-checkbox__box {
      border-color: transparent;
      background-color: var(--inf-checkbox-checked-color-background-active);

      svg {
        visibility: visible;
      }
    }
  }

  &__label {
    user-select: none;
    margin-left: 8px;
    font-size: var(--inf-font-size-body-1);
    line-height: 20px;
  }

  &__box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    margin: 0;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border: 1px solid var(--inf-checkbox-color-border);
    color: white;
    background-color: var(--inf-checkbox-color-background);
    border-radius: var(--inf-border-radius-xsmall);
    position: relative;
    top: 0.2em;

    &--disabled {
      cursor: unset;
      border-color: var(--inf-color-text-disabled);
      background-color: transparent;

      svg:not(.inf-checkbox input[type='checkbox']:checked) {
        visibility: hidden;
      }
    }

    &--indeterminate:not(.inf-checkbox__box--disabled) {
      border: none;
      background-color: var(--inf-checkbox-checked-color-background);

      svg {
        visibility: visible;
      }
    }
  }

  input[type='checkbox'] {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    z-index: -1;
    width: 20px;
    height: 20px;
    top: 0.2em;

    &:focus-visible ~ .inf-checkbox__box {
      outline: var(--inf-border-focus);
    }

    &:checked ~ .inf-checkbox__box {
      border: none;
      background-color: var(--inf-checkbox-checked-color-background);
    }

    &:checked:disabled ~ .inf-checkbox__box {
      background-color: var(--inf-checkbox-checked-color-background-disabled);

      svg {
        visibility: visible;
      }
    }

    &:disabled ~ .inf-checkbox__box--indeterminate {
      border: none;
      background-color: var(--inf-checkbox-checked-color-background-disabled);

      svg {
        visibility: visible;
      }
    }
  }
}
