.inf-checkbox {
  display: inline-flex;
  align-items: baseline;
  position: relative;
  cursor: pointer;

  &__check-icon,
  &__indeterminate {
    visibility: hidden;
  }

  &--disabled {
    color: var(--inf-color-text-tertiary);
    pointer-events: none;
  }

  &:hover {
    &
      input[type='checkbox']
      ~ .inf-checkbox__box:not(.inf-checkbox__box--disabled) {
      border-color: var(--inf-color-border-primary-hover);
    }

    & input[type='checkbox']:checked ~ .inf-checkbox__box {
      border-color: transparent;
    }
  }

  &__label {
    user-select: none;
    margin-left: 8px;
    font-size: var(--inf-font-size-body-1);
    line-height: 20px;
  }

  &__box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    margin: 0;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border: 1px solid var(--inf-color-border-primary);
    border-radius: var(--inf-border-radius-xsmall);
    position: relative;
    top: 0.2em;

    &--disabled {
      cursor: unset;
      border-color: var(--inf-color-text-tertiary);
      background-color: transparent;

      svg:not(.inf-checkbox input[type='checkbox']:checked) {
        visibility: hidden;
      }
    }

    &--indeterminate:not(.inf-checkbox__box--disabled) {
      border: none;
      background-color: var(--inf-color-background-button-primary);
      color: var(--inf-color-text-on-color);

      svg {
        visibility: visible;
      }
    }
  }

  input[type='checkbox'] {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    z-index: -1;
    width: 20px;
    height: 20px;
    top: 0.2em;

    &:focus-visible {
      & ~ .inf-checkbox__box {
        border-color: var(--inf-color-border-primary-hover);
      }
      &:checked ~ .inf-checkbox__box {
        background-color: var(--inf-color-background-button-primary-active);
      }
    }

    &:checked ~ .inf-checkbox__box {
      border: none;
      background-color: var(--inf-color-background-button-primary);
      color: var(--inf-color-text-on-color);

      svg {
        visibility: visible;
      }
    }

    &:checked:disabled ~ .inf-checkbox__box {
      background-color: var(--inf-color-background-button-primary-disabled);

      svg {
        visibility: visible;
      }
    }

    &:disabled ~ .inf-checkbox__box--indeterminate {
      border: none;
      background-color: var(--inf-color-background-button-primary-disabled);
      color: var(--inf-color-text-on-color);

      svg {
        visibility: visible;
      }
    }
  }
}
