@import "../../styles/variables.css";
@import "../../styles/colors.css";

.popover {
    position: relative;
    z-index: 100;

    width: 100%;
    height: 100%;
}

.icon {
    width: 10px;
    height: 10px;

    filter: var(--filter-cold-grey-2-normal);
}

.iconArrow {
    background: url("../../icons/arrowDropdown.svg") no-repeat center;
}

.iconChevron {
    background: url("../../icons/chevronDown.svg") no-repeat center;
}

.trigger {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    padding: 0;
}

.triggerTitle {
    max-width: 400px;
}

.titleValue {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.titleValueNormal {
    color: var(--cold-grey-2-normal);
}

.titleValueBold {
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
}

.drop {
    z-index: 10;

    display: flex;
    align-items: flex-start;
    flex-direction: column;

    padding: 0 0 0.125rem;

    background-color: var(--light-color);
}

.dropShadow {
    border: 1px solid var(--gray-4-vary-light);
    border-radius: 0.25rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 10px 20px rgba(0, 0, 0, 0.075), 0 4px 8px rgba(0, 0, 0, 0.09), 0 2px 3px rgba(0, 0, 0, 0.15);
}

.options {
    width: 10rem;
}

.option {
    width: 100%;
    padding: 0.4rem 0.5rem;

    text-align: left;
}

.option:hover {
    background-color: var(--cold-grey-4-very-light);
}