.inf-table {
  border-collapse: collapse;
  width: 100%;
  font-family: var(--inf-font-family-base);

  th {
    text-align: left;
    vertical-align: top;
    color: var(--inf-color-text-secondary);
    font-weight: var(--inf-font-weight-normal);
    font-size: var(--inf-text-size-small);
    position: relative;

    &:hover .inf-table-header__resizer {
      opacity: 1;
    }
  }

  th {
    padding: var(--inf-space-xxsmall) var(--inf-space-medium)
      var(--inf-space-small) 0;
  }
  td {
    padding: var(--inf-space-xxsmall) var(--inf-space-medium)
      var(--inf-space-xxsmall) 0;
  }

  td:first-child,
  th:first-child {
    padding-left: var(--inf-space-medium);
  }

  tbody {
    tr {
      &:hover {
        background-color: var(--inf-control-background-color-hover);
      }

      &.inf-table__row--interactive {
        cursor: pointer;
      }

      &.inf-table__row--selected {
        background-color: #e6f1f5;
      }

      &.inf-table__group-label {
        background-color: #f2f4f5;
        text-transform: uppercase;

        td {
          padding: 0 6px;
        }
      }
    }
  }
}
