.inf-table {
  border-collapse: collapse;
  width: 100%;
  font-family: var(--inf-font-family-base);
  border: 1px solid var(--inf-color-border-default);
  border-radius: var(--inf-border-radius-small);

  thead {
    border-bottom: 1px solid var(--inf-color-border-default);
  }

  th {
    background-color: var(--inf-color-background-secondary);
    text-align: left;
    color: var(--inf-color-text-secondary);
    font: var(--inf-font-body-1);
    padding: var(--inf-space-medium);
    position: relative;

    &:hover .inf-table-header__resizer {
      opacity: 1;
    }
  }

  td {
    padding: var(--inf-space-medium);
    font: var(--inf-font-body-1);
    color: var(--inf-color-text-primary);
  }

  tbody {
    tr {
      font: var(--inf-font-body-2);

      @include hover {
        background-color: var(--inf-color-background-hover);
      }

      &.inf-table__row--interactive {
        cursor: pointer;
      }

      &.inf-table__row--selected {
        background-color: var(--inf-color-background-selected);
      }

      &.inf-table__group-label {
        background-color: #f2f4f5;
        text-transform: uppercase;

        td {
          padding: 0 6px;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid var(--inf-color-border-default);
      }
    }
  }

  &--bordered {
    td,
    th {
      padding: var(--inf-space-xsmall);
      border: 1px solid var(--inf-color-border-default);
    }
  }
  &--border-radius-xsmall{
    border-collapse: separate;
    border-spacing: 0;
    border-radius: var(--inf-border-radius-xsmall);
    thead tr th:first-child {
      border-top-left-radius: var(--inf-border-radius-xsmall);
    }
    thead tr th:last-child {
      border-top-right-radius: var(--inf-border-radius-xsmall);
    }
    tbody tr td {
      border-top: 1px solid var(--inf-color-border-default);
    }
    tbody tr:last-child td:first-child {
      border-bottom-left-radius: var(--inf-border-radius-xsmall);
    }
    tbody tr:last-child td:last-child {
      border-bottom-right-radius: var(--inf-border-radius-xsmall);
    }
  }
  &--border-radius-small{
    border-collapse: separate;
    border-spacing: 0;
    border-radius: var(--inf-border-radius-small);
    thead tr th:first-child {
      border-top-left-radius: var(--inf-border-radius-small);
    }
    thead tr th:last-child {
      border-top-right-radius: var(--inf-border-radius-small);
    }
    tbody tr td {
      border-top: 1px solid var(--inf-color-border-default);
    }
    tbody tr:last-child td:first-child {
      border-bottom-left-radius: var(--inf-border-radius-small);
    }
    tbody tr:last-child td:last-child {
      border-bottom-right-radius: var(--inf-border-radius-small);
    }
  }
  &--border-radius-medium {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: var(--inf-border-radius-medium);
    thead tr th:first-child {
      border-top-left-radius: var(--inf-border-radius-medium);
    }
    thead tr th:last-child {
      border-top-right-radius: var(--inf-border-radius-medium);
    }
    tbody tr td {
      border-top: 1px solid var(--inf-color-border-default);
    }
    tbody tr:last-child td:first-child {
      border-bottom-left-radius: var(--inf-border-radius-medium);
    }
    tbody tr:last-child td:last-child {
      border-bottom-right-radius: var(--inf-border-radius-medium);
    }
  }
  &--border-radius-large {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: var(--inf-border-radius-large);
    thead tr th:first-child {
      border-top-left-radius: var(--inf-border-radius-large);
    }
    thead tr th:last-child {
      border-top-right-radius: var(--inf-border-radius-large);
    }
    tbody tr td {
      border-top: 1px solid var(--inf-color-border-default);
    }
    tbody tr:last-child td:first-child {
      border-bottom-left-radius: var(--inf-border-radius-large);
    }
    tbody tr:last-child td:last-child {
      border-bottom-right-radius: var(--inf-border-radius-large);
    }
  }
}
