.inf-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  font-family: var(--inf-font-family-base);
  --table-border-radius: 0;
  border-radius: var(--table-border-radius);

  thead {
    th {
      background-color: var(--inf-color-background-tertiary);
      text-align: left;
      color: var(--inf-color-text-secondary);
      font: var(--inf-font-body-1);
      padding: var(--inf-space-medium);
      position: relative;
      border-top: 1px solid var(--inf-color-border-primary);

      &:hover .inf-table-header__resizer {
        opacity: 1;
      }

      &:first-child {
        border-top-left-radius: var(--table-border-radius);
        border-left: 1px solid var(--inf-color-border-primary);
      }

      &:last-child {
        border-top-right-radius: var(--table-border-radius);
        border-right: 1px solid var(--inf-color-border-primary);
      }
    }
  }

  tbody {
    tr {
      font: var(--inf-font-body-2);

      @include hover {
        background-color: var(--inf-color-background-primary-hover);
      }

      &.inf-table__row--interactive {
        cursor: pointer;
      }

      &.inf-table__row--selected {
        background-color: var(
          --inf-color-background-primary-hover
        ); // TODO: уточнить цвет
      }

      &:not(:last-child) {
        border-bottom: 1px solid var(--inf-color-border-primary);
      }
    }

    tr:last-child td:first-child {
      border-bottom-left-radius: var(--table-border-radius);
    }

    tr:last-child td {
      border-bottom: 1px solid var(--inf-color-border-primary);
    }

    tr:last-child td:last-child {
      border-bottom-right-radius: var(--table-border-radius);
    }

    td {
      padding: var(--inf-space-medium);
      font: var(--inf-font-body-1);
      color: var(--inf-color-text-primary);
      border-top: 1px solid var(--inf-color-border-primary);
    }

    td:first-child {
      border-left: 1px solid var(--inf-color-border-primary);
    }

    td:last-child {
      border-right: 1px solid var(--inf-color-border-primary);
    }
  }

  &--border-radius-xsmall {
    --table-border-radius: var(--inf-border-radius-xsmall);
  }

  &--border-radius-small {
    --table-border-radius: var(--inf-border-radius-small);
  }

  &--border-radius-medium {
    --table-border-radius: var(--inf-border-radius-medium);
  }

  &--border-radius-large {
    --table-border-radius: var(--inf-border-radius-large);
  }

  &--borderless {
    --table-border-radius: 0;

    thead th {
      border-top: none;

      &:first-child,
      &:last-child {
        border-left: none;
        border-right: none;
      }
    }

    tbody {
      tr td {
        &:first-child,
        &:last-child {
          border-left: none;
          border-right: none;
        }
      }

      tr:last-child td {
        border-bottom: none;
      }

      tr:first-child td {
        border-top: none;
      }
    }
  }

  $vertical-align-values: (
    'baseline',
    'bottom',
    'middle',
    'sub',
    'super',
    'text-bottom',
    'text-top',
    'top'
  );

  @mixin vertical-align($vertical-align-value) {
    &--vertical-align-#{$vertical-align-value} td {
      vertical-align: #{$vertical-align-value};
    }
  }

  @each $vertical-align-value in $vertical-align-values {
    @include vertical-align($vertical-align-value);
  }
}
