.inf-week-picker {
  width: 100%;

  &__week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 32px;
    row-gap: var(--inf-space-xxsmall);
    align-items: center;
  }

  &__placeholder {
    color: var(--inf-color-text-tertiary);
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--inf-space-xsmall);
  }

  &__input {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    z-index: -1;
    width: 1px;
    height: 1px;
  }

  &__display-value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__dropdown {
    width: 240px;
    background-color: var(--inf-color-background-float);
    box-shadow: var(--inf-box-shadow-medium);
    z-index: var(--inf-z-index-dropdown);
    border-radius: var(--inf-border-radius-small);
    padding: var(--inf-space-xsmall);
  }

  &__week {
    font: var(--inf-font-body-1);

    &--hovered {
      background-color: var(--inf-color-background-float-hover);
      border-radius: 0;

      @include hover {
        border-radius: var(--inf-border-radius-small);
      }
    }

    &--picked {
      background-color: var(--inf-color-background-float-hover);
      border-radius: var(--inf-border-radius-small);

      @include hover {
        background-color: var(--inf-color-background-float-hover);
      }
    }
  }

  &__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;

    &--empty {
      cursor: unset;
      pointer-events: none;
      background-color: transparent;

      @include hover {
        background-color: transparent;
      }
    }

    &--disabled {
      pointer-events: none;
      opacity: 50%;
    }

    &--from {
      color: var(--inf-color-text-inverse);
      background-color: var(--inf-color-background-brand-primary);
      border-radius: var(--inf-border-radius-small) 0 0
        var(--inf-border-radius-small);

      @include hover {
        background-color: var(--inf-color-background-brand-primary);
      }
    }

    &--to {
      color: var(--inf-color-text-inverse);
      background-color: var(--inf-color-background-brand-primary);
      border-radius: 0 var(--inf-border-radius-small)
        var(--inf-border-radius-small) 0;

      @include hover {
        background-color: var(--inf-color-background-brand-primary);
      }
    }
  }

  &__clear-button {
    display: none;
  }

  @include hover {
    .inf-week-picker__clear-button {
      display: inline-flex;
    }
  }
}
