.inf-tooltip {
  --inf-tooltip-arrow-size: 8px;

  background-color: var(--inf-color-background-inverse);
  color: var(--inf-color-text-inverse);
  font: var(--inf-font-body-1);
  border-radius: var(--inf-border-radius-small);
  padding: var(--inf-space-xsmall) var(--inf-space-medium);
  z-index: var(--inf-z-index-tooltip);

  .inf-tooltip__arrow {
    background-color: var(--inf-color-background-inverse);

    &--direction-bottom {
      border-right: 1px solid var(--inf-color-background-inverse);
      border-bottom: 1px solid var(--inf-color-background-inverse);
    }

    &--direction-top {
      border-top: 1px solid var(--inf-color-background-inverse);
      border-left: 1px solid var(--inf-color-background-inverse);
    }

    &--direction-right {
      border-right: 1px solid var(--inf-color-background-inverse);
      border-top: 1px solid var(--inf-color-background-inverse);
    }

    &--direction-left {
      border-left: 1px solid var(--inf-color-background-inverse);
      border-bottom: 1px solid var(--inf-color-background-inverse);
    }
  }

  &__arrow {
    height: var(--inf-tooltip-arrow-size);
    width: var(--inf-tooltip-arrow-size);
    transform: rotate(45deg);
    position: absolute;
  }
}
