.inf-checkbox-group {
  display: flex;

  &--direction-vertical {
    flex-direction: column;

    > * + * {
      margin-top: var(--inf-space-small);
    }
  }

  &--direction-horizontal {
    flex-direction: row;

    > * + * {
      margin-left: var(--inf-space-medium);
    }
  }
}
