.inf-select-new-button {
  display: flex;
  align-items: center;
  gap: var(--inf-space-xsmall);

  &--loading {
    pointer-events: none;
    cursor: default;
  }

  &__content {
    flex-grow: 1;
    overflow: hidden;
    line-height: 23px;
  }

  &__after {
    display: flex;
    align-items: center;
    gap: var(--inf-space-xsmall);
  }

  &__before {
    display: flex;
    align-items: center;
    gap: var(--inf-space-xsmall);
  }

  &__display-value,
  &__placeholder {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__placeholder {
    color: var(--inf-color-text-tertiary);
  }

  &__filter-input {
    width: 100%;
    color: inherit;
    background: 0px center;
    opacity: 1;
    grid-area: 1 / 2;
    font: inherit;
    border: 0px;
    margin: 0px;
    outline: 0px;
    padding: 0px;
  }

  &__loader {
    &.inf-loader {
      color: var(--inf-color-icon-primary);
    }
  }

  &__clear-button {
    display: none;
  }

  @include hover {
    .inf-select-new-button__clear-button {
      display: inline-flex;
    }
  }
}
