.inf-select-new-button {
  display: flex;
  align-items: center;
  gap: var(--inf-space-xsmall);

  &--loading {
    pointer-events: none;
    cursor: default;
  }

  &__content {
    flex-grow: 1;
    overflow: hidden;
    line-height: 23px;
  }

  &__after {
    display: flex;
    align-items: center;
    gap: var(--inf-space-xsmall);
  }

  &__before {
    display: flex;
    align-items: center;
    gap: var(--inf-space-xsmall);
  }

  &__display-value,
  &__placeholder {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__placeholder {
    color: var(--inf-color-text-tertiary);
  }

  &__prefix {
  }

  &__counter {
  }

  &__clear {
  }

  &__arrow {
  }

  &__input {
  }
}
