.inf-step {
  position: relative;
  display: flex;
  font-size: 14px;
  line-height: 18px;

  --variantColor: transparent;

  &--variant-success {
    --variantColor: var(--inf-color-icon-success);
  }

  &--variant-secondary {
    --variantColor: var(--inf-color-icon-primary-disabled);
  }

  &--direction-vertical {
    &:not(:first-child) {
      padding-bottom: 24px;
    }

    &:not(:last-child) {
      &::before {
        position: absolute;
        content: ' ';
        display: block;
        background-color: var(--variantColor);
        width: 4px;
        height: calc(var(--nextItemHeight) - 16px);
        bottom: var(--itemHeight);
        left: 8px;
        transform: translateX(-50%);
      }
    }
  }

  &--direction-horizontal {
    display: block;
    &:not(:first-child) {
      padding-right: 24px;

      &::before {
        position: absolute;
        content: ' ';
        display: block;
        background-color: var(--variantColor);
        width: calc(100% - 12px);
        height: 4px;
        top: 8px;
        right: 0;
        transform: translateY(-50%);
      }
    }

    .inf-step__indicator {
      margin: 0 0 6px 0;
    }
  }
}
