.inf-user-menu {
  &__button {
    height: var(--inf-control-height-medium);
    width: var(--inf-control-height-medium);
    background-color: var(--inf-color-background-brand-secondary);
    color: var(--inf-color-text-brand);
    font: var(--inf-font-subtitle-2);
    transition: 0.2s;

    @include hover {
      background-color: var(--inf-color-background-brand-primary);
      color: var(--inf-color-text-on-color);
    }

    &--active {
      background-color: var(--inf-color-background-brand-primary);
      color: var(--inf-color-text-on-color);
    }
  }

  &__full-name,
  &__role {
    overflow-wrap: break-word;
  }
}
