.inf-user-menu-button {
  height: 40px;
  width: 40px;
  background-color: #fef2f2; // TODO: токен
  color: #f64a4a; // TODO: токен
  font: var(--inf-font-subtitle-2);
  transition: 0.2s;

  @include hover {
    background-color: #f64a4a;
    color: #ffffff;
  }

  &--active {
    background-color: #f64a4a;
    color: #ffffff;
  }
}
