.inf-link {
  display: inline-flex;
  overflow-wrap: break-word;
  word-break: break-word;
  max-width: 100%;
  color: var(--inf-color-text-link);
  text-decoration: underline;
  text-underline-offset: 3px;
  cursor: pointer;
  line-height: unset;

  @include hover {
    color: var(--inf-color-text-link-hover);
  }

  &:visited {
    color: var(--inf-color-text-link-visited);
  }

  @include focus-styles;

  &--prefix {
    padding-right: var(--inf-space-small);
  }

  &--suffix {
    padding-left: var(--inf-space-small);
  }

  &__default-icon {
    user-select: none;
    display: inline-flex;
    align-items: center;
    height: 100%;
  }
}
