.inf-link {
  display: inline-block;
  color: var(--inf-color-text-link);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  width: max-content;
  line-height: 1;

  &:hover {
    // border-color: transparent;
    color: var(--inf-color-text-link-hover);
  }
}
