.inf-select-old-button {
  position: relative;
  cursor: pointer;
  user-select: none;
  appearance: none;
  text-align: left;
  padding: 7px 32px 7px var(--inf-space-small);
  line-height: 18px;
  height: var(--inf-control-height-medium);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &__arrow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    right: var(--inf-space-small);
    color: var(--inf-color-icon-primary);

    @include hover {
      color: var(--inf-color-icon-primary-hover);
    }

    svg {
      width: 20px;
      height: 20px;
    }

    &--active {
      color: var(--inf-color-icon-primary);
    }

    &--rotated {
      transform-origin: 50% 25%;
      transform: rotate(180deg);
    }

    &--disabled {
      color: var(--inf-color-text-tertiary);
    }
  }

  &--loading {
    pointer-events: none;
    cursor: default;
  }

  &--placeholder {
    color: var(--inf-color-text-tertiary);
  }
}
