.inf-calendar-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
  border-radius: var(--inf-border-radius-medium);

  @include hover {
    background-color: var(--inf-color-background-float-hover);
  }

  &--selected {
    color: var(--inf-color-text-on-color);
    background-color: var(--inf-color-background-brand-primary);

    @include hover {
      background-color: var(--inf-color-background-brand-primary);
    }
  }

  &--disabled {
    pointer-events: none;
    opacity: 50%;
  }

  &--empty {
    cursor: unset;
    pointer-events: none;

    @include hover {
      background-color: transparent;
    }
  }
}
