.inf-calendar-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
  border-radius: var(--inf-border-radius-small);

  @include hover {
    background-color: var(--inf-color-background-tertiary);
  }

  &--selected {
    color: var(--inf-color-text-on-color);
    background-color: var(--inf-color-background-brand-primary);

    @include hover {
      background-color: var(--inf-color-background-brand-primary);
    }
  }

  &--disabled {
    pointer-events: none;
    color: var(--inf-color-text-tertiary);
  }

  &--empty {
    cursor: unset;
    pointer-events: none;

    @include hover {
      background-color: transparent;
    }
  }

  &--prev-month,
  &--next-month {
    color: var(--inf-color-text-secondary);

    @include hover {
      background-color: var(--inf-color-background-primary-hover);
    }
  }

  &--today {
    color: var(--inf-color-text-brand);
  }
}
