.inf-date-calendar {
  width: 240px;
  height: 280px;
  padding: var(--inf-space-xsmall);
  display: flex;
  flex-direction: column;
  gap: var(--inf-space-xsmall) 0;
  box-shadow: -1px 4px 3px 0px #0A3E661A, 0px 4px 4px 0px #00000040;
  border-radius: var(--inf-border-radius-small);
}
